@{
    ViewBag.Title = "WDXJ_CZ";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/WDXJ/WDXJ_CZ.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/WDXJ/WDXJ_CZ.js")"></script>
</head>
<body>
    <div class="div_head">
        <table>
            <tr>
                <td>
                    <span class="span_content_info_left" style="font-weight: 700">充值金额：</span>
                </td>
                <td>
                    <input class="input_content" id="inputCZJE" type="text" placeholder="请输入充值金额">
                </td>
                <td>
                    <span class="span_content_info_dy">元</span>
                </td>
                <td>
                    <span class="span_content_info" id="span_content_info_czje"></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="div_content">
        <table>
            <tr>
                <td>
                    <span class="span_content_info_left" style="font-weight: 700">选择支付方式：</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="div_content" style="margin-top: 0px;">
        <div class="divstep" id="divWXZF">
            <span class="spanstep" id="spanWXZF">微信支付</span>
            <em class="emstep" id="emWXZF"></em>
        </div>
        <div class="divstep" id="divWYZF">
            <span class="spanstep" id="spanWYZF">网银支付</span>
            <em class="emstep" id="emWYZF"></em>
        </div>
        <div class="divstep" id="divKJZF">
            <span class="spanstep" id="spanKJZF">快捷支付</span>
            <em class="emstep" id="emKJZF"></em>
        </div>
        <div class="divstep" id="divZFBZF">
            <span class="spanstep" id="spanZFBZF">支付宝支付</span>
            <em class="emstep" id="emZFBZF"></em>
        </div>
        <div class="divstep" id="divYFTZF">
            <span class="spanstep" id="spanYFTZF">易付通支付</span>
            <em class="emstep" id="emYFTZF"></em>
        </div>
        <div class="divstep" id="divSJKCZ">
            <span class="spanstep" id="spanSJKCZ">手机卡充值</span>
            <em class="emstep" id="emSJKCZ"></em>
        </div>
        <div class="divstep" id="divYHHK">
            <span class="spanstep" id="spanYHHK">银行汇款</span>
            <em class="emstep" id="emYHHK"></em>
        </div>
        <div class="divstep">
            <span class="spanstep" id="spanOther">&nbsp;</span>
            <em class="emstep" id="emOther" style="width: 200px;"></em>
        </div>
    </div>
    <div id="div_main_info" class="div_main_info">
        <div class="div_main_info_body" id="div_main_info_body_wxfz">
            <div class="div_main_info_zffs">
                <img class="img_radio" id="img_radio_wxzf" />
                <img class="img_zffs" id="img_zffs_wxzf" src="@Url.Content("~/Areas/Business/Css/images/WDZJ/wdxj_cz_wxzf.png")" />
                <img class="img_select" src="@Url.Content("~/Areas/Business/Css/images/WDZJ/wdxj_cz_zffs_select.png")" />
            </div>
        </div>
        <div class="div_main_info_body" id="div_main_info_body_wyzf" style="display: block; height: 170px;">
            <div class="div_main_info_tip">
                请选择支付的银行卡<span class="span_main_info_tip">（请确保您的银行卡已开通网银） </span>
            </div>
            <div class="div_main_info_zffs_wyzf" id="div_main_info_zffs_wyzf_gsyh">
                <img class="img_radio" id="img_radio_wyzf_gsyh" />
                <img class="img_zffs" id="img_zffs_wxzf_gsyh" src="@Url.Content("~/Areas/Business/Css/images/WDZJ/wdxj_cz_wyzf_gsyh.png")" />
                <img class="img_select" id="img_select_wyzf_gsyh" />
            </div>
            <div class="div_main_info_zffs_wyzf" id="div_main_info_zffs_wyzf_zsyh">
                <img class="img_radio" id="img_radio_wyzf_zsyh" />
                <img class="img_zffs" id="img_zffs_wxzf_zsyh" src="@Url.Content("~/Areas/Business/Css/images/WDZJ/wdxj_cz_wyzf_zsyh.png")" />
                <img class="img_select" id="img_select_wyzf_zsyh" />
            </div>
            <div class="div_main_info_zffs_wyzf" id="div_main_info_zffs_wyzf_nyyh">
                <img class="img_radio" id="img_radio_wyzf_nyyh" />
                <img class="img_zffs" id="img_zffs_wxzf_nyyh" src="@Url.Content("~/Areas/Business/Css/images/WDZJ/wdxj_cz_wyzf_nyyh.png")" />
                <img class="img_select" id="img_select_wyzf_nyyh" />
            </div>
            <div class="div_main_info_zffs_wyzf" id="div_main_info_zffs_wyzf_zgyh">
                <img class="img_radio" id="img_radio_wyzf_zgyh" />
                <img class="img_zffs" id="img_zffs_wxzf_zgyh" src="@Url.Content("~/Areas/Business/Css/images/WDZJ/wdxj_cz_wyzf_zgyh.png")" />
                <img class="img_select" id="img_select_wyzf_zgyh" />
            </div>
            <div class="div_main_info_zffs_wyzf" id="div_main_info_zffs_wyzf_jsyh">
                <img class="img_radio" id="img_radio_wyzf_jsyh" />
                <img class="img_zffs" id="img_zffs_wxzf_jsyh" src="@Url.Content("~/Areas/Business/Css/images/WDZJ/wdxj_cz_wyzf_jsyh.png")" />
                <img class="img_select" id="img_select_wyzf_jsyh" />
            </div>
            <div class="div_main_info_zffs_wyzf right" id="div_main_info_zffs_wyzf_pfyh">
                <img class="img_radio" id="img_radio_wyzf_pfyh" />
                <img class="img_zffs" id="img_zffs_wxzf_pfyh" src="@Url.Content("~/Areas/Business/Css/images/WDZJ/wdxj_cz_wyzf_pfyh.png")" />
                <img class="img_select" id="img_select_wyzf_pfyh" />
            </div>
            <div class="div_main_info_zffs_wyzf" id="div_main_info_zffs_wyzf_jtyh">
                <img class="img_radio" id="img_radio_wyzf_jtyh" />
                <img class="img_zffs" id="img_zffs_wxzf_jtyh" src="@Url.Content("~/Areas/Business/Css/images/WDZJ/wdxj_cz_wyzf_jtyh.png")" />
                <img class="img_select" />
            </div>
            <div class="div_main_info_zffs_wyzf" id="div_main_info_zffs_wyzf_msyh">
                <img class="img_radio" id="img_radio_wyzf_msyh" />
                <img class="img_zffs" id="img_zffs_wxzf_msyh" src="@Url.Content("~/Areas/Business/Css/images/WDZJ/wdxj_cz_wyzf_msyh.png")" />
                <img class="img_select" id="img_select_wyzf_msyh" />
            </div>
            <div class="div_main_info_zffs_wyzf bottom" id="div_main_info_zffs_wyzf_payh">
                <img class="img_radio" id="img_radio_wyzf_payh" />
                <img class="img_zffs" id="img_zffs_wxzf_payh" src="@Url.Content("~/Areas/Business/Css/images/WDZJ/wdxj_cz_wyzf_payh.png")" />
                <img class="img_select" id="img_select_wyzf_payh" />
            </div>
            <div class="div_main_info_zffs_wyzf bottom" id="div_main_info_zffs_wyzf_gfyh">
                <img class="img_radio" id="img_radio_wyzf_gfyh" />
                <img class="img_zffs" id="img_zffs_wxzf_gfyh" src="@Url.Content("~/Areas/Business/Css/images/WDZJ/wdxj_cz_wyzf_gfyh.png")" />
                <img class="img_select" />
            </div>
            <div class="div_main_info_zffs_wyzf bottom" id="div_main_info_zffs_wyzf_gdyh">
                <img class="img_radio" id="img_radio_wyzf_gdyh" />
                <img class="img_zffs" id="img_zffs_wxzf_gdyh" src="@Url.Content("~/Areas/Business/Css/images/WDZJ/wdxj_cz_wyzf_gdyh.png")" />
                <img class="img_select" id="img_select_wyzf_gdyh" />
            </div>
            <div class="div_main_info_zffs_wyzf bottom right" id="div_main_info_zffs_wyzf_bjyh">
                <img class="img_radio" id="img_radio_wyzf_bjyh" />
                <img class="img_zffs" id="img_zffs_wxzf_bjyh" src="@Url.Content("~/Areas/Business/Css/images/WDZJ/wdxj_cz_wyzf_bjyh.png")" />
                <img class="img_select" id="img_select_wyzf_bjyh" />
            </div>
            <div class="div_main_info_zffs_wyzf bottom" id="div_main_info_zffs_wyzf_zxyh">
                <img class="img_radio" id="img_radio_wyzf_zxyh" />
                <img class="img_zffs" id="img_zffs_wxzf_zxyh" src="@Url.Content("~/Areas/Business/Css/images/WDZJ/wdxj_cz_wyzf_zxyh.png")" />
                <img class="img_select" id="img_select_wyzf_zxyh" />
            </div>
            <div class="div_main_info_zffs_wyzf bottom right" id="div_main_info_zffs_wyzf_xyyh">
                <img class="img_radio" id="img_radio_wyzf_xyyh" />
                <img class="img_zffs" id="img_zffs_wxzf_xyyh" src="@Url.Content("~/Areas/Business/Css/images/WDZJ/wdxj_cz_wyzf_xyyh.png")" />
                <img class="img_select" id="img_select_wyzf_xyyh" />
            </div>
        </div>
        <div class="div_main_info_body" id="div_main_info_body_zfbfz">
            <div class="div_main_info_zffs">
                <img class="img_radio" id="img_radio_zfbzf" />
                <img class="img_zffs" id="img_zffs_zfbzf" src="@Url.Content("~/Areas/Business/Css/images/WDZJ/wdxj_cz_zfbzf.png")" />
                <img class="img_select" src="@Url.Content("~/Areas/Business/Css/images/WDZJ/wdxj_cz_zffs_select.png")" />
            </div>
        </div>
        <div class="div_main_info_body">
            <input class="input_main_info_ljzf" id="input_main_info_ljzf" value="立即支付" type="button" />
        </div>
        <div class="div_main_info_body">
            <table>
                <tr>
                    <td>
                        <input class="input_main_info_body_bottom" id="input_main_info_body_bottom" type="checkbox" />
                    </td>
                    <td>
                        <span class="span_main_info_body_bottom">已阅读并同意</span>
                    </td>
                    <td>
                        <span class="span_main_info_body_bottom span_main_info_body_bottom_xy" id="span_main_info_body_bottom_xy">《信息小镇现金服务协议》</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
