@{
    ViewBag.Title = "信息小镇_房产详细信息";
    Layout = "~/Areas/Business/Views/Shared/QTCXLB.cshtml";
}
@section Section_Head {
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/XXXX/FCXX.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/XXXX/FCXX/FCXX_ZZF.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/Common/XZQ.js")"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=134db1b9cf1f1f2b4427210932b34dcb"></script>
}
@section Section_Body {
    <div id="divNav" class="div_nav">
        <ul class="ul_nav">
            <li class="li_nav_font">信息小镇</li>
            <li class="li_nav_split">></li>
            <li class="li_nav_font">@ViewData["XZQ"]房产信息</li>
            <li class="li_nav_split">></li>
            <li class="li_nav_font">@ViewData["XZQ"]整租房</li>
        </ul>
    </div>
    <div id="divBody" class="div_body">
        <div id="div_body_left" class="div_body_left">
           
            @*
                
            
            <div class="div_body_left_body_xqxx">
                <p class="p_body_left_body_xqxx">小区信息</p>
                <ul class="ul_body_left_body_xqxx">
                    <li class="li_body_left_body_xqxx">
                        <span class="span_body_left_body_xqxx_left">小区名：</span>
                        <span class="span_body_left_body_xqxx_right">世欧王庄</span>
                    </li>
                    <li class="li_body_left_body_xqxx">
                        <span class="span_body_left_body_xqxx_left">开发商：</span>
                        <span class="span_body_left_body_xqxx_right">世欧地产</span>
                    </li>
                    <li class="li_body_left_body_xqxx">
                        <span class="span_body_left_body_xqxx_left">物业公司：</span>
                        <span class="span_body_left_body_xqxx_right">天泽物业</span>
                    </li>
                    <li class="li_body_left_body_xqxx">
                        <span class="span_body_left_body_xqxx_left">物业类型：</span>
                        <span class="span_body_left_body_xqxx_right">普通住宅</span>
                    </li>
                    <li class="li_body_left_body_xqxx">
                        <span class="span_body_left_body_xqxx_left">总建面积：</span>
                        <span class="span_body_left_body_xqxx_right">156423平方米（大型小区）</span>
                    </li>
                    <li class="li_body_left_body_xqxx">
                        <span class="span_body_left_body_xqxx_left">总户数：</span>
                        <span class="span_body_left_body_xqxx_right">846户</span>
                    </li>
                    <li class="li_body_left_body_xqxx">
                        <span class="span_body_left_body_xqxx_left">建筑年代：</span>
                        <span class="span_body_left_body_xqxx_right">2006-02</span>
                    </li>
                    <li class="li_body_left_body_xqxx">
                        <span class="span_body_left_body_xqxx_left">容积率：</span>
                        <span class="span_body_left_body_xqxx_right">2.0</span>
                    </li>
                    <li class="li_body_left_body_xqxx">
                        <span class="span_body_left_body_xqxx_left">停车位：</span>
                        <span class="span_body_left_body_xqxx_right">120</span>
                    </li>
                    <li class="li_body_left_body_xqxx">
                        <span class="span_body_left_body_xqxx_left">绿化率：</span>
                        <span class="span_body_left_body_xqxx_right">25%（绿化率适中）</span>
                    </li>
                </ul>
                <div id="div_body_left_body_xqxx_dtxx" class="div_body_left_body_xqxx_dtxx">
                    <p class="p_body_left_body_xqxx_dtxx">小区地图</p>
                    <div style="width: 780px; height: 300px; border: 1px solid gray" id="container"></div>
                </div>
            </div>
            <div class="div_body_left_body_gxq">
                <p class="p_body_left_body_gxq">您可能感兴趣</p>

            </div>
            <div class="div_body_right">

            </div>*@
        </div>
    </div>
}
