@{
    ViewBag.Title = "信息小镇_房产详细信息";
    Layout = "~/Areas/Business/Views/Shared/QTCXLB.cshtml";
}
@section Section_Head {
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/XXXX/FCXX.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/XXXX/FCXX/FCXX_ZZF.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/Common/XZQ.js")"></script>
}
@section Section_Body {
    <div id="divNav" class="div_nav">
        <ul class="ul_nav">
            <li class="li_nav_font">信息小镇</li>
            <li class="li_nav_split">></li>
            <li class="li_nav_font">@ViewData["XZQ"]房产信息</li>
            <li class="li_nav_split">></li>
            <li class="li_nav_font">@ViewData["XZQ"]整租房</li>
        </ul>
    </div>
    <div id="divBody" class="div_body">
        <div id="div_body_left" class="div_body_left">
            <div class="div_body_left_head">
                <p class="p_div_body_left_head_bt">大儒世家新出精装2房 高层设备齐全 别墅社区 品质 </p>
                <p class="p_div_body_left_head_ll">11月5日 22:36 3次浏览 </p>
            </div>
            <div class="div_body_left_body">
                <div class="div_body_left_body_left">
                    <img class="img_body_left_body_left_show" src="@Url.Content("~/Areas/Business/Css/images/test.jpg")" />
                    <ul class="ul_body_left_body_left_list">
                        <li class="li_body_left_body_left_list_an" style='margin-right: 10px;'>
                            <
                        </li>
                        <li class="li_body_left_body_left_list_tp">
                            <img class="img_body_left_body_left_list_tp" src="@Url.Content("~/Areas/Business/Css/images/test.jpg")" />
                            <div class="div_img_body_left_body_left_list_tp"></div>
                        </li>
                        <li class="li_body_left_body_left_list_tp">
                            <img class="img_body_left_body_left_list_tp" src="@Url.Content("~/Areas/Business/Css/images/test.jpg")" />
                            <div class="div_img_body_left_body_left_list_tp"></div>
                        </li>
                        <li class="li_body_left_body_left_list_tp">
                            <img class="img_body_left_body_left_list_tp" src="@Url.Content("~/Areas/Business/Css/images/test.jpg")" />
                            <div class="div_img_body_left_body_left_list_tp"></div>
                        </li>
                        <li class="li_body_left_body_left_list_tp">
                            <img class="img_body_left_body_left_list_tp" src="@Url.Content("~/Areas/Business/Css/images/test.jpg")" />
                            <div class="div_img_body_left_body_left_list_tp"></div>
                        </li>
                        <li class="li_body_left_body_left_list_an">
                            >
                        </li>
                    </ul>
                </div>
                <div class="div_body_left_body_right">
                    <p class="p_body_left_body_right_first">
                        <span class="span_body_left_body_right_zj">1800</span><span class="span_body_left_body_right_zjdw">元/月</span>
                        <span class="span_body_left_body_right_yffs">押二付一</span>
                    </p>
                    <p class="p_body_left_body_right">
                        <span class="span_body_left_body_right_left">出租方式：</span>
                        <span class="span_body_left_body_right_right">整租</span>
                    </p>
                    <p class="p_body_left_body_right">
                        <span class="span_body_left_body_right_left">房屋类型：</span>
                        <span class="span_body_left_body_right_right">3室2厅1卫 121平 简单装修</span>
                    </p>
                    <p class="p_body_left_body_right">
                        <span class="span_body_left_body_right_left">朝向楼层：</span>
                        <span class="span_body_left_body_right_right">南 中层/共33层</span>
                    </p>
                    <p class="p_body_left_body_right">
                        <span class="span_body_left_body_right_left">所在小区：</span>
                        <span class="span_body_left_body_right_right">徽贵苑</span>
                    </p>
                    <p class="p_body_left_body_right">
                        <span class="span_body_left_body_right_left">所属区域：</span>
                        <span class="span_body_left_body_right_right">滨湖新区 滨湖世纪城</span>
                    </p>
                    <p class="p_body_left_body_right">
                        <span class="span_body_left_body_right_left">详细地址：</span>
                        <span class="span_body_left_body_right_right">万泉河路</span>
                    </p>
                    <p class="p_body_left_body_right_lxdh">
                        <img class="img_body_left_body_right_lxdh" src="@Url.Content("~/Areas/Business/Css/images/lxdh.png")" />16897484154
                    </p>
                </div>
            </div>
            <div class="div_body_left_body_fyxq">
                <p class="p_body_left_body_fyxq">房源详情</p>
                <div class="div_body_left_body_fyxq_xx" style="height: 150px;">
                    <div class="div_body_left_body_fyxq_xx_left">房屋配置</div>
                    <div class="div_body_left_body_fyxq_xx_right" style="width: 500px;">
                        <span class="span_body_left_body_fyxq_xx_right">
                            <img class="img_body_left_body_fyxq_xx_right" src="@Url.Content("~/Areas/Business/Css/images/xxxx/fc/xxxx_fc_bx.png")" />
                            <span class="span_img_body_left_body_fyxq_xx_right">冰箱</span>
                        </span>
                        <span class="span_body_left_body_fyxq_xx_right">
                            <img class="img_body_left_body_fyxq_xx_right" src="@Url.Content("~/Areas/Business/Css/images/xxxx/fc/xxxx_fc_c.png")" />
                            <span class="span_img_body_left_body_fyxq_xx_right">床</span>
                        </span>
                        <span class="span_body_left_body_fyxq_xx_right">
                            <img class="img_body_left_body_fyxq_xx_right" src="@Url.Content("~/Areas/Business/Css/images/xxxx/fc/xxxx_fc_dlwsj.png")" />
                            <span class="span_img_body_left_body_fyxq_xx_right">独立卫生间</span>
                        </span>
                        <span class="span_body_left_body_fyxq_xx_right">
                            <img class="img_body_left_body_fyxq_xx_right" src="@Url.Content("~/Areas/Business/Css/images/xxxx/fc/xxxx_fc_kd.png")" />
                            <span class="span_img_body_left_body_fyxq_xx_right">宽带</span>
                        </span>
                        <span class="span_body_left_body_fyxq_xx_right">
                            <img class="img_body_left_body_fyxq_xx_right" src="@Url.Content("~/Areas/Business/Css/images/xxxx/fc/xxxx_fc_kt.png")" />
                            <span class="span_img_body_left_body_fyxq_xx_right">空调</span>
                        </span>
                        <span class="span_body_left_body_fyxq_xx_right">
                            <img class="img_body_left_body_fyxq_xx_right" src="@Url.Content("~/Areas/Business/Css/images/xxxx/fc/xxxx_fc_rsq.png")" />
                            <span class="span_img_body_left_body_fyxq_xx_right">热水器</span>
                        </span>
                        <span class="span_body_left_body_fyxq_xx_right">
                            <img class="img_body_left_body_fyxq_xx_right" src="@Url.Content("~/Areas/Business/Css/images/xxxx/fc/xxxx_fc_sf.png")" />
                            <span class="span_img_body_left_body_fyxq_xx_right">沙发</span>
                        </span>
                        <span class="span_body_left_body_fyxq_xx_right">
                            <img class="img_body_left_body_fyxq_xx_right" src="@Url.Content("~/Areas/Business/Css/images/xxxx/fc/xxxx_fc_xyj.png")" />
                            <span class="span_img_body_left_body_fyxq_xx_right">洗衣机</span>
                        </span>
                        <span class="span_body_left_body_fyxq_xx_right">
                            <img class="img_body_left_body_fyxq_xx_right" src="@Url.Content("~/Areas/Business/Css/images/xxxx/fc/xxxx_fc_yg.png")" />
                            <span class="span_img_body_left_body_fyxq_xx_right">衣柜</span>
                        </span>
                        <span class="span_body_left_body_fyxq_xx_right">
                            <img class="img_body_left_body_fyxq_xx_right" src="@Url.Content("~/Areas/Business/Css/images/xxxx/fc/xxxx_fc_yt.png")" />
                            <span class="span_img_body_left_body_fyxq_xx_right">阳台</span>
                        </span>
                    </div>
                </div>
                <div class="div_body_left_body_fyxq_xx">
                    <div class="div_body_left_body_fyxq_xx_left">房屋亮点</div>
                    <div class="div_body_left_body_fyxq_xx_right">
                        <span class="span_body_left_body_fyxq_xx_right_fwld">独卫</span>
                        <span class="span_body_left_body_fyxq_xx_right_fwld">独立阳台</span>
                        <span class="span_body_left_body_fyxq_xx_right_fwld">朝南</span>
                        <span class="span_body_left_body_fyxq_xx_right_fwld">配套齐全</span>
                        <span class="span_body_left_body_fyxq_xx_right_fwld">精装修</span>
                    </div>
                </div>
                <div class="div_body_left_body_fyxq_xx" style="height: 280px;">
                    <div class="div_body_left_body_fyxq_xx_left">房源描述</div>
                    <div class="div_body_left_body_fyxq_xx_right fyms">
                        个人房源，无中介费！所有图片均为实拍！可月付

                        国际花都三期，高档小区，高档物业管理，房间精装修，周边配套成熟，大型生活社区、写字楼环绕。银泰城，万象城、万达广场等大型购物中心近在咫尺。交通便利，*灵活，可月付，详情电话：18156512002




                        蜂宅公寓，拥有大量优质房源，居住安心，一站式管家贴心服务




                        蜀山区：五里墩之心城 105商圈 万科金域华府 彩虹家园 梅园公寓

                        万达广场 金大地1912 望潜路口 黄岳路口 华府骏苑 大溪地 凤凰城 天玥中心 新华学府




                        政务区：荷叶地 蔚蓝商务港 绿地蓝海 新城国际 华邦ICC 省立医院南区 50中 红星美凯龙

                        国际花都 华邦世贸城 安粮城市广场 绿怡居 天鹅湖九号 旭辉花园 陶然居

                        笔架山 万达广场 新8中 佰悦中心 凯旋门 琥珀五环城 新地中心 天鹅湖1号 湖畔辉映阁 发能太阳海岸

                        乐富强御龙湾 imore王朝公寓 融科城 报业园




                        经开区：港澳广场 安医二附院 中环城 大学城 融科城 报业园 文景新城 禹州华侨城 钻界公寓

                        各大区域均有大量房源




                        ————— 致力于为刚毕业和白领青年打造舒适温暖的家，让身处异地的你感到不再孤独。

                        专注于精品白领公寓出租， 一房一价，！！！

                        躺在软软的席梦思，畅游在高速电信网络，洗一个暖暖的热水澡，给自己做一顿美美的晚餐。

                        生活...难道不该如此吗？

                    </div>
                </div>
                <div class="div_body_left_body_fyxq_xx">
                    <ul class="ul_body_left_body_fyxq_xx">
                        <li class="li_body_left_body_fyxq_xx">
                            <img class="img_body_left_body_fyxq_xx" src="@Url.Content("~/Areas/Business/Css/images/test.jpg")" />
                        </li>
                        <li class="li_body_left_body_fyxq_xx">
                            <img class="img_body_left_body_fyxq_xx" src="@Url.Content("~/Areas/Business/Css/images/test.jpg")" />
                        </li>
                        <li class="li_body_left_body_fyxq_xx">
                            <img class="img_body_left_body_fyxq_xx" src="@Url.Content("~/Areas/Business/Css/images/test.jpg")" />
                        </li>
                        <li class="li_body_left_body_fyxq_xx">
                            <img class="img_body_left_body_fyxq_xx" src="@Url.Content("~/Areas/Business/Css/images/test.jpg")" />
                        </li>
                        <li class="li_body_left_body_fyxq_xx">
                            <img class="img_body_left_body_fyxq_xx" src="@Url.Content("~/Areas/Business/Css/images/test.jpg")" />
                        </li>
                        <li class="li_body_left_body_fyxq_xx">
                            <img class="img_body_left_body_fyxq_xx" src="@Url.Content("~/Areas/Business/Css/images/test.jpg")" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="div_body_left_body_xqxx">
                <p class="p_body_left_body_xqxx">小区信息</p>
                <ul class="ul_body_left_body_xqxx">
                    <li class="li_body_left_body_xqxx">
                        <span class="span_body_left_body_xqxx_left">小区名</span>
                        <span class="span_body_left_body_xqxx_right">世欧王庄</span>
                    </li>
                    <li class="li_body_left_body_xqxx">
                        <span class="span_body_left_body_xqxx_left">小区名</span>
                        <span class="span_body_left_body_xqxx_right">世欧王庄</span>
                    </li>
                    <li class="li_body_left_body_xqxx">
                        <span class="span_body_left_body_xqxx_left">小区名</span>
                        <span class="span_body_left_body_xqxx_right">世欧王庄</span>
                    </li>
                    <li class="li_body_left_body_xqxx">
                        <span class="span_body_left_body_xqxx_left">小区名</span>
                        <span class="span_body_left_body_xqxx_right">世欧王庄</span>
                    </li>
                    <li class="li_body_left_body_xqxx">
                        <span class="span_body_left_body_xqxx_left">小区名</span>
                        <span class="span_body_left_body_xqxx_right">世欧王庄</span>
                    </li>
                    <li class="li_body_left_body_xqxx">
                        <span class="span_body_left_body_xqxx_left">小区名</span>
                        <span class="span_body_left_body_xqxx_right">世欧王庄</span>
                    </li>
                    <li class="li_body_left_body_xqxx">
                        <span class="span_body_left_body_xqxx_left">小区名</span>
                        <span class="span_body_left_body_xqxx_right">世欧王庄</span>
                    </li>
                    <li class="li_body_left_body_xqxx">
                        <span class="span_body_left_body_xqxx_left">小区名</span>
                        <span class="span_body_left_body_xqxx_right">世欧王庄</span>
                    </li>
                    <li class="li_body_left_body_xqxx">
                        <span class="span_body_left_body_xqxx_left">小区名</span>
                        <span class="span_body_left_body_xqxx_right">世欧王庄</span>
                    </li>
                    <li class="li_body_left_body_xqxx">
                        <span class="span_body_left_body_xqxx_left">小区名</span>
                        <span class="span_body_left_body_xqxx_right">世欧王庄</span>
                    </li>
                </ul>
            </div>
            <div class="div_body_right">

            </div>
        </div>
    </div>
}
