@{
    ViewBag.Title = "FWCZ";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link href="@Url.Content("~/Areas/Business/Css/FWCZ.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Business/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/FWCZ/FWCZ.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/FWCZ/FWCZYZ.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/FWCZ/FWCZZP.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/jquery-ui-1.12.1.custom/jquery.ui.datepicker-zh-CN.js")"></script>
</head>
<body style="width: 100%; height: 100%; font-family: 微软雅黑">
    <div style="width: 1440px; text-align: center;">
        <div id="divLBHead" style="margin-left: 18%; margin-top: 20px;">
            <table class="table" style="width: 100%; text-align: center;">
                <tr>
                    <td class="headtd">
                        <div style="width: 900px;">
                            <div class="divstep" id="divLBXZ">
                                <span class="spanstep" id="spanLBXZ"></span><span id="spanCXLB" style="color: #5bc0de; cursor: pointer; font-size: 12px; margin-left: 2px">重选类别</span>
                                <em class="emstep" id="emLBXZ"></em>
                            </div>
                            <div class="divstep" id="divTXXX">
                                <span class="spanstep" id="spanTXXX">2.填写信息</span>
                                <em class="emstep" id="emTXXX"></em>
                            </div>
                            <div class="divstep" id="divWCFB">
                                <span class="spanstep" id="spanWCFB">3.完成发布</span>
                                <em class="emstep" id="emWCFB"></em>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="myTabContent" style="margin-left: 18%; padding-bottom: 150px;">
            <div id="divJBXX" class="divSplit" style="display: block; text-align: left">
                <span class="spanSplit">基本信息</span>
                <em class="emSplit"></em>
            </div>
            <div id="divCZFS" class="divFWCZ">
                <div class="divLeft">
                    <span class="required">*</span>
                    <span class="spanFWCZ">出租方式</span>
                </div>
                <div class="divRight">
                    <img class="iFWCZ" id="imgZTCZ" /><label class="labelFWCZ">&nbsp;&nbsp;整套出租&nbsp;&nbsp;</label>
                    <img class="iFWCZ" id="imgDJCZ" /><label class="labelFWCZ">&nbsp;&nbsp;单间出租</label>
                </div>
            </div>
            <div id="divXQMC" class="divFWCZ" style="z-index: 1000">
                <div class="divLeft">
                    <span class="required">*</span>
                    <span class="spanFWCZ">小区名称</span>
                </div>
                <div class="divRight">
                    <div class="spanFWLXOut" style="z-index: 1000; position: relative">
                        <div id="divXQMCText" class="spanFWLXIn SRK" style="border: none;">
                            <input id="XQMC" maxlength="30" column="XQMC" class="spanFWLX SRK" style="width: 594px; margin-top: 0px; padding: 4px 12px; color: #999999;" type="text" placeholder="请输入小区名称" />
                        </div>
                        <div id="divXQMClist" class="divdropdown" style="width: 594px;">
                        </div>
                    </div>
                    <div id="divXQMCTip" class="Warn" style="z-index: 999; position: relative"></div>
                </div>
            </div>
            <div id="divFWLX" class="divFWCZ">
                <div class="divLeft">
                    <span class="required">*</span>
                    <span class="spanFWCZ">房屋类型</span>
                </div>
                <div class="divRight">
                    <span id="spanS" class="spanFWLX">
                        <input id="S" maxlength="2" column="S" class="inputFWLX spanFontColor" type="text" />
                        <span class="spanFontColor">室</span>
                    </span>
                    <span id="spanT" class="spanFWLX">
                        <input id="T" maxlength="2" column="T" class="inputFWLX spanFontColor" type="text" />
                        <span class="spanFontColor">厅</span>
                    </span>
                    <span id="spanW" class="spanFWLX">
                        <input id="W" maxlength="2" column="W" class="inputFWLX spanFontColor" type="text" />
                        <span class="spanFontColor">卫</span>
                    </span>
                    <span id="spanPFM" class="spanFWLX" style="width: 198px">
                        <span class="spanFontColor" style="margin-left: 8px">共</span>
                        <input id="PFM" maxlength="7" column="PFM" class="inputFWLX spanFontColor" type="text" />
                        <span class="spanFontColor">平（㎡）</span>
                    </span>
                    <div id="divFWLXTip" class="Warn"></div>
                </div>
            </div>
            <div id="divFWQK" class="divFWCZ" style="z-index: 999">
                <div class="divLeft">
                    <span class="required">*</span>
                    <span class="spanFWCZ">房屋情况</span>
                </div>
                <div class="divRight">
                    <div class="spanFWLXOut">
                        <div id="divFWCXText" class="spanFWLXIn SRK">
                            <span id="spanFWCX" column="CX" class="spanFWQK spanFontColor">南北</span>
                            <div class="divFWQKArrow"></div>
                        </div>
                        <div id="divFWCX" class="divdropdown">
                        </div>
                    </div>
                    <div class="spanFWLXOut">
                        <div id="divZXQKText" class="spanFWLXIn SRK">
                            <span id="spanZXQK" column="ZXQK" class="spanFWQK spanFontColor">简单装修</span>
                            <div class="divFWQKArrow"></div>
                        </div>
                        <div id="divZXQK" class="divdropdown">
                        </div>
                    </div>
                    <div class="spanFWLXOut">
                        <div id="divZZLXText" class="spanFWLXIn SRK">
                            <span id="spanZZLX" column="ZZLX" class="spanFWQK spanFontColor">普通住宅</span>
                            <div class="divFWQKArrow"></div>
                        </div>
                        <div id="divZZLX" class="divdropdown">
                        </div>
                    </div>
                </div>
            </div>
            <div id="divLCFB" class="divFWCZ" style="z-index: 998">
                <div class="divLeft">
                    <span class="required">*</span>
                    <span class="spanFWCZ">楼层分布</span>
                </div>
                <div class="divRight">
                    <span id="spanC" class="spanFWLX SRK">
                        <span class="spanFontColor" style="margin-left: 8px">第</span>
                        <input id="C" maxlength="2" column="C" class="inputLCFB spanFontColor" type="text" style="width: 70px" />
                        <span class="spanFontColor">层</span>
                    </span>
                    <span id="spanGJC" class="spanFWLX SRK">
                        <span class="spanFontColor" style="margin-left: 8px">共</span>
                        <input id="GJC" maxlength="2" column="GJC" class="inputLCFB spanFontColor" type="text" style="width: 70px" />
                        <span class="spanFontColor">层</span>
                    </span>
                    <div id="divLCFBTip" class="Warn"></div>
                </div>
            </div>
            <div id="divZJ" class="divFWCZ" style="z-index: 997">
                <div class="divLeft">
                    <span class="required">*</span>
                    <span class="spanFWCZ">房屋租金</span>
                </div>
                <div class="divRight">
                    <span id="spanZJ" class="spanFWLX SRK" style="display: inline-block;">
                        <input id="ZJ" maxlength="9" column="ZJ" class="inputLCFB spanFontColor" type="text" style="width: 78px" />
                        <span class="spanFontColor">元/月</span>
                    </span>
                    <div id="divYFFSText" class="spanFWLXOut SRK" style="border: 1px solid #cccccc; border-radius: 4px; z-index: 997; position: relative;">
                        <div class="spanFWLXIn" style="border: none; margin-top: 6px;">
                            <span id="spanYFFS" column="YFFS" class="spanFWQK spanFontColor" style="margin-top: 0">押一付一</span>
                            <div class="divFWQKArrow"></div>
                        </div>
                        <div id="divYFFS" class="divdropdown" style="margin-top: -7px; margin-left: -1px;">
                        </div>
                    </div>
                    <div id="divZJTip" class="Warn" style="z-index: 996; position: relative;"></div>
                </div>
            </div>
            <div id="divBHFY" class="divFWCZ" style="z-index: 994; height: 80px; margin-top: -18px;">
                <div class="divLeft">
                    <span class="required"></span>
                    <span id="spanBHFY">包含费用</span>
                </div>
                <div id="divBHFYText" class="divRight" style="position: relative">
                </div>
            </div>
            <div id="divFWPZ" class="divFWCZ" style="z-index: 996">
                <div class="divLeft">
                    <span class="required"></span>
                    <span id="spanFWCZ">房屋配置</span>
                </div>
                <div id="divFWPZText" class="divRight" style="position: relative">
                </div>
            </div>
            <div id="divXXXX" class="divSplit" style="display: block; text-align: left; margin-top: 100px;">
                <span class="spanSplit">详细信息</span>
                <em class="emSplit"></em>
            </div>
            <div id="divFWLD" class="divFWCZ" style="z-index: 995; height: 80px;">
                <div class="divLeft">
                    <span class="required"></span>
                    <span id="spanFWLD">房屋亮点</span>
                </div>
                <div id="divFWLDText" class="divRight" style="position: relative">
                </div>
            </div>
            <div id="divCZYQ" class="divFWCZ" style="z-index: 994; height: 80px;">
                <div class="divLeft">
                    <span class="required"></span>
                    <span id="spanCZYQ">出租要求</span>
                </div>
                <div id="divCZYQText" class="divRight" style="position: relative">
                </div>
            </div>
            <div id="divFYBT" class="divFWCZ" style="margin-top: 22px;">
                <div class="divLeft">
                    <span class="required">*</span>
                    <span id="spanFYBT">房源标题</span>
                </div>
                <div class="divRight">
                    <input id="BT" maxlength="50" column="BT" class="spanFWLX SRK" style="width: 594px; padding: 6px 12px; color: #999999" type="text" placeholder="吸引人的标题可让更多的人看您的信息喔" />
                    <div id="divBTTip"></div>
                </div>
            </div>
            <div id="divFYMS" class="divFWCZ" style="height: 170px;">
                <div class="divLeft" style="height: 170px; vertical-align: top;">
                    <span class="required" style="vertical-align: top"></span>
                    <span id="spanFYMS" style="vertical-align: top">房源描述</span>
                </div>
                <div class="divRight">
                    <textarea id="FYMS" class="spanFWLX SRK" style="width: 594px; height: 170px; padding: 6px 12px; color: #999999"></textarea>
                </div>
            </div>
            <div id="divFWZP" class="divFWCZ">
                <div class="divLeft" style="height: 170px; vertical-align: top;">
                    <span class="required" style="vertical-align: top">*</span>
                    <span id="spanFWZP" style="vertical-align: top">房屋照片</span>
                </div>
                <div class="divRight">
                    <div id="divUploadOut" class="divUploadOut">
                        <form action="" enctype="multipart/form-data" id="myform" method="post">
                            <input id="inputUpload" unselectable="on" type="file" multiple="multiple" class="file" />
                        </form>
                    </div>
                    <div style="margin-left: 214px; font-size: 14px; color: #999999;">
                        <span>最多8张，可多选上传，最大10mb。有图可使浏览量增加3倍，并会在推荐位显示。</span>
                    </div>
                    <div id="divFWZPTip" style="margin-top: 10px; margin-left: 210px;"></div>
                </div>
            </div>
            <div id="divFWZPValue" class="divFWCZ" style="display: none; text-align: left; margin-top: 140px;">
                <div class="divLeft" style="height: 170px; vertical-align: top;">
                    <span class="required"></span>
                    <span id="spanFWZP" style="width: 56px; display: inline-block;"></span>
                </div>
                <div id="divImgs1" class="divRight" style="display: inline-block; width: 670px;">
                    <ul id="ulImgs1" class="ulImgs" style="padding-left: 0px;"></ul>
                </div>
                <div class="divLeft" style="height: 170px; vertical-align: top;">
                    <span class="required"></span>
                    <span id="spanFWZP" style="width: 56px; display: inline-block;"></span>
                </div>
                <div id="divImgs2" class="divRight" style="display: inline-block; width: 670px;">
                    <ul id="ulImgs2" class="ulImgs" style="padding-left: 0px;"></ul>
                </div>
            </div>
            <div id="divLXRXX" class="divSplit" style="display: block; text-align: left; margin-top: 140px;">
                <span class="spanSplit">联系人信息</span>
                <em class="emSplit"></em>
            </div>
            <div id="divLXR" class="divFWCZ" style="z-index: 993">
                <div class="divLeft" style="margin-left: 114px;">
                    <span class="required">*</span>
                    <span id="spanLXDH">联系人</span>
                </div>
                <div class="divRight">
                    <input id="LXR" column="LXR" class="spanFWLX inputLXRXX SRK" type="text" placeholder="请输入联系人" />
                    <div id="divLXRTip"></div>
                </div>
            </div>
            <div id="divLXDH" class="divFWCZ" style="z-index: 993">
                <div class="divLeft">
                    <span class="required">*</span>
                    <span id="spanLXDH">联系电话</span>
                </div>
                <div class="divRight">
                    <input id="LXDH" maxlength="11" column="LXDH" class="spanFWLX inputLXRXX SRK" type="text" placeholder="请输入联系电话" />
                    <div id="divLXDHTip"></div>
                </div>
            </div>
            <div id="divQQ" class="divFWCZ" style="margin-top: -12px;" style="z-index: 993">
                <div class="divLeft" style="margin-left: 133px;">
                    <span class="required"></span>
                    <span id="spanQQ">QQ</span>
                </div>
                <div class="divRight">
                    <input column="QQ" class="spanFWLX inputLXRXX SRK" type="text" placeholder="请输入QQ" />
                </div>
            </div>
            <div id="divKRZSJ" class="divFWCZ" style="z-index: 994">
                <div class="divLeft" style="margin-left: 86px;">
                    <span class="required"></span>
                    <span id="spanKRZSJ">可入住时间</span>
                </div>
                <div class="divRight">
                    <input id="KRZSJ" readonly="readonly" class="spanFWLX inputLXRXX SRK" type="text" placeholder="请选择可入住时间" />
                </div>
            </div>
            <div id="divFB" class="divSplit" style="display: block; text-align: center; margin-top: 40px;">
                <input type="button" class="btn btn-info input_text" style="height: 50px; font-size: 24px;" id="btnFB" value="发布" />
            </div>
        </div>
    </div>
    <div id="shadow"></div>
    <div id="editImgWindow">
        <div id="editImgHead">
            <span>编辑图片</span>
            <div id="btnClose"></div>
        </div>
        <div id="canvasFrame">
            <canvas id="canvas" width="1570" height="870" style="width:785px;height:435px;"></canvas>
        </div>
        <div id="toolBar">
            <div id="editToolBar">
                <div class="editToolButton" id="rotate">
                    <div class="editButtonIcon" style="background-image:url(@Url.Content("~/Areas/Business/Css/images/rotate.png"))"></div>
                    <span>旋转</span>
                </div>
                <div class="editToolButton" id="clip">
                    <div class="editButtonIcon" style="background-image:url(@Url.Content("~/Areas/Business/Css/images/clip.png"))"></div>
                    <span>裁剪</span>
                </div>
                <div class="editToolButton" id="mosaic">
                    <div class="editButtonIcon" style="background-image:url(@Url.Content("~/Areas/Business/Css/images/mosaic.png"))"></div>
                    <span>模糊</span>
                </div>
            </div>
        </div>
        <input type="button" id="btnSavePhoto" class="btn btn-info" style="height: 34px; width:69px; position:absolute;bottom:14px;right:77px;" value="保&nbsp;&nbsp;存" />
    </div>
</body>
</html>
