@{
    Layout = "~/Areas/Business/Views/Shared/QTCXLB.cshtml";
}
@section Section_Head {
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/SY.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/SY.js")"></script>
}
@section Section_Body {
    <div id="divHead" class="div_head">
        <div class="div_head_left">
            <img class="img_head_left_logo" src="@Url.Content("~/Areas/Business/Css/images/logo_blue.png")" />
        </div>
        <div class="div_head_right">
            <div class="div_head_right_ss">
                <span id="spanXSLC" class="span_spaninput_out SRK">
                    <input class="span_spaninput_in" id="SS" type="text" placeholder="找房子,找工作,找服务," />
                    <span class="span_ss">搜索</span>
                </span>
                <span class="span_head_right_ss">租房子</span>
                <span class="span_head_right_ss">二手车</span>
                <span class="span_head_right_ss">兼职</span>
                <span class="span_head_right_ss">装修服务</span>
                <span class="span_head_right_ss">旅游度假</span>
                <span class="span_head_right_ss">居民搬家</span>
                <span class="span_head_right_ss">演出表演</span>
                <span class="span_head_right_ss">运动健身</span>
            </div>
            <span class="span_fbxx" id="span_fbxx">免费发布信息</span>
        </div>
    </div>
    <div id="divNav" class="div_head_nav">
        <ul class="ul_head_nav">
            <li id="li_head_sy" class="li_head_nav" style="width: 80px;"><span class="span_head_nav">首页</span></li>
            <li id="li_head_xzapp" class="li_head_nav"><span class="span_head_nav">小镇APP</span><i class="i_head_nav"></i></li>
            <li id="li_head_xzgzh" class="li_head_nav"><span class="span_head_nav">小镇公众号</span><i class="i_head_nav"></i></li>
            <li id="li_head_xcx" class="li_head_nav"><span class="span_head_nav">小程序</span><i class="i_head_nav"></i></li>
            <li id="li_head_xztm" class="li_head_nav"><span class="span_head_nav">小镇特卖</span></li>
            <li id="li_head_xzjr" class="li_head_nav"><span class="span_head_nav">小镇金融</span></li>
            <li id="li_head_xzgy" class="li_head_nav"><span class="span_head_nav">小镇公益</span></li>
            <li id="li_head_xzfc" class="li_head_nav"><span class="span_head_nav">小镇房产</span></li>
            <li id="li_head_xzesc" class="li_head_nav"><span class="span_head_nav">二手车</span></li>
            <li id="li_head_xztg" class="li_head_nav"><span class="span_head_nav">小镇推广</span><i class="i_head_nav"></i></li>
            <li id="li_head_viphy" class="li_head_nav"><span class="span_head_nav">VIP会员</span><i class="i_head_nav"></i></li>
        </ul>
    </div>
    <div id="div_Body" class="div_body">
        <div class="div_body_top">
            <div class="div_body_top_left">
                <ul class="ul_body_top_left">
                    <li class="li_body_top_left">
                        <p class="p_body_top_left">
                            <img class="i_body_top_left" src="@Url.Content("~/Areas/Business/Css/images/body_top_zp.png")" />
                        </p>
                        <p class="p_body_top_left p_body_top_left_dl">招聘</p>
                        <p class="p_body_top_left">
                            <span class="span_body_top_left span_body_top_left_xl">全职</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">兼职</span>
                        </p>
                    </li>
                    <li class="li_body_top_left">
                        <p class="p_body_top_left">
                            <img class="i_body_top_left" src="@Url.Content("~/Areas/Business/Css/images/body_top_esc.png")" />
                        </p>
                        <p class="p_body_top_left p_body_top_left_dl">二手车</p>
                        <p class="p_body_top_left">
                            <span class="span_body_top_left span_body_top_left_xl">家用</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">商用</span>
                        </p>
                    </li>
                    <li class="li_body_top_left">
                        <p class="p_body_top_left">
                            <img class="i_body_top_left" src="@Url.Content("~/Areas/Business/Css/images/body_top_fc.png")" />
                        </p>
                        <p class="p_body_top_left p_body_top_left_dl">房产</p>
                        <p class="p_body_top_left">
                            <span class="span_body_top_left span_body_top_left_xl">租房</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">买房</span>
                        </p>
                    </li>
                    <li class="li_body_top_left">
                        <p class="p_body_top_left">
                            <img class="i_body_top_left" src="@Url.Content("~/Areas/Business/Css/images/body_top_cw.png")" />
                        </p>
                        <p class="p_body_top_left p_body_top_left_dl">宠物</p>
                        <p class="p_body_top_left">
                            <span class="span_body_top_left span_body_top_left_xl">狗</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">猫</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">鱼</span>
                        </p>
                    </li>
                    <li class="li_body_top_left">
                        <p class="p_body_top_left">
                            <img class="i_body_top_left" src="@Url.Content("~/Areas/Business/Css/images/body_top_essc.png")" />
                        </p>
                        <p class="p_body_top_left p_body_top_left_dl">二手市场</p>
                        <p class="p_body_top_left">
                            <span class="span_body_top_left span_body_top_left_xl">手机</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">家电</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">回收</span>
                        </p>
                    </li>
                    <li class="li_body_top_left">
                        <p class="p_body_top_left">
                            <img class="i_body_top_left" src="@Url.Content("~/Areas/Business/Css/images/body_top_shfw.png")" />
                        </p>
                        <p class="p_body_top_left p_body_top_left_dl">生活服务</p>
                        <p class="p_body_top_left">
                            <span class="span_body_top_left span_body_top_left_xl">搬家</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">保姆</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">家教</span>
                        </p>
                    </li>
                    <li class="li_body_top_left">
                        <p class="p_body_top_left">
                            <img class="i_body_top_left" src="@Url.Content("~/Areas/Business/Css/images/body_top_swfw.png")" />
                        </p>
                        <p class="p_body_top_left p_body_top_left_dl">商务服务</p>
                        <p class="p_body_top_left">
                            <span class="span_body_top_left span_body_top_left_xl">工商</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">加盟</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">租赁</span>
                        </p>
                    </li>
                    <li class="li_body_top_left">
                        <p class="p_body_top_left">
                            <img class="i_body_top_left" src="@Url.Content("~/Areas/Business/Css/images/body_top_jypx.png")" />
                        </p>
                        <p class="p_body_top_left p_body_top_left_dl">教育培训</p>
                        <p class="p_body_top_left">
                            <span class="span_body_top_left span_body_top_left_xl">语言</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">艺术</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">技能</span>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="div_body_top_right">
                <div class="div_body_top_right_zxfb">
                    <p class="p_body_top_right_zxfb">最新发布</p>
                    <div class="div_ul_body_top_right_zxfb">
                        <ul id="ul_body_top_right_zxfb" class="ul_body_top_right_zxfb"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="div_body_middle">
            <div class="div_body_middle_left">
                <div id="div_body_middle_left_section_fc" class="div_body_middle_left_section" style="height: 270px;">
                    <p class="p_body_middle_left_title">@ViewData["XZQ"]房产</p>
                    <p class="p_body_middle_left_title_small">房屋买卖</p>
                    <ul class="ul_body_middle_left_section" style="height: 60px;">
                        <li class="li_body_middle_left_section">求租求购</li>
                        <li class="li_body_middle_left_section">日租短租</li>
                        <li class="li_body_middle_left_section">找人合租</li>
                        <li class="li_body_middle_left_section active">二手房</li>
                        <li class="li_body_middle_left_section">新房出售</li>
                        <li id="li_fwcz" class="li_body_middle_left_section active">房屋出租</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">商业地产</p>
                    <ul class="ul_body_middle_left_section">
                        <li class="li_body_middle_left_section active">商铺出租</li>
                        <li class="li_body_middle_left_section">商铺出售</li>
                        <li class="li_body_middle_left_section active">商铺转让</li>
                        <li class="li_body_middle_left_section">厂房仓库</li>
                        <li class="li_body_middle_left_section">写字楼出租</li>
                        <li class="li_body_middle_left_section">写字楼出售</li>
                    </ul>
                </div>
                <div class="div_body_middle_left_section" style="height: 550px;">
                    <p class="p_body_middle_left_title">车辆</p>
                    <p class="p_body_middle_left_title_small">商用车</p>
                    <ul class="ul_body_middle_left_section" style="height: 90px;">
                        <li class="li_body_middle_left_section">货车</li>
                        <li class="li_body_middle_left_section">工程车</li>
                        <li class="li_body_middle_left_section">拖拉机</li>
                        <li class="li_body_middle_left_section">自卸车</li>
                        <li class="li_body_middle_left_section">挖掘机</li>
                        <li class="li_body_middle_left_section">平板车</li>
                        <li class="li_body_middle_left_section">厢式货车</li>
                        <li class="li_body_middle_left_section">半挂车</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">二手车</p>
                    <ul class="ul_body_middle_left_section" style="height: 210px;">
                        <li class="li_body_middle_left_section">0-2万</li>
                        <li class="li_body_middle_left_section">2-4万</li>
                        <li class="li_body_middle_left_section">4-8万</li>
                        <li class="li_body_middle_left_section">8万以上</li>
                        <li class="li_body_middle_left_section active">大众</li>
                        <li class="li_body_middle_left_section">丰田</li>
                        <li class="li_body_middle_left_section">本田</li>
                        <li class="li_body_middle_left_section">宝马</li>
                        <li class="li_body_middle_left_section">日产</li>
                        <li class="li_body_middle_left_section">现代</li>
                        <li class="li_body_middle_left_section">奥迪</li>
                        <li class="li_body_middle_left_section">别克</li>
                        <li class="li_body_middle_left_section">铃木</li>
                        <li class="li_body_middle_left_section">雪弗兰</li>
                        <li class="li_body_middle_left_section">奇瑞</li>
                        <li class="li_body_middle_left_section">比亚迪</li>
                        <li class="li_body_middle_left_section active">二手轿车</li>
                        <li class="li_body_middle_left_section">客车</li>
                        <li class="li_body_middle_left_section">摩托车</li>
                        <li class="li_body_middle_left_section active">电动车</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">车辆周边</p>
                    <ul class="ul_body_middle_left_section" style="height: 60px;">
                        <li class="li_body_middle_left_section">贷款购车</li>
                        <li class="li_body_middle_left_section">高价收车</li>
                        <li class="li_body_middle_left_section">新车优惠</li>
                        <li class="li_body_middle_left_section">维修保养</li>
                        <li class="li_body_middle_left_section">汽车配件</li>
                        <li class="li_body_middle_left_section">汽车用品</li>
                        <li class="li_body_middle_left_section" style="width: 100px;">拼车顺风车</li>
                    </ul>
                </div>
                <div class="div_body_middle_left_section" style="height: 405px;">
                    <p class="p_body_middle_left_title">宠物</p>
                    <div class="div_body_middle_left_section_fl">
                        <span class="span_body_middle_left_section_fl_left active" style="height: 60px;">狗狗</span>
                        <span class="span_body_middle_left_section_fl_right">金毛</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">哈士奇</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">阿拉斯加</span>
                        <br />
                        <span class="span_body_middle_left_section_fl_right">泰迪</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">斗牛犬</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">格力犬</span>
                    </div>
                    <div class="div_body_middle_left_section_fl">
                        <span class="span_body_middle_left_section_fl_left active" style="height: 60px;">猫猫</span>
                        <span class="span_body_middle_left_section_fl_right">蓝猫</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">折耳猫</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">加菲猫</span>
                        <br />
                        <span class="span_body_middle_left_section_fl_right">布偶猫</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">短毛猫</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">豹猫</span>
                    </div>
                    <div class="div_body_middle_left_section_fl">
                        <span class="span_body_middle_left_section_fl_left">花鸟虫鱼</span>
                        <span class="span_body_middle_left_section_fl_right">观赏鱼</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">观赏鸟</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">观赏龟</span>
                    </div>
                    <div class="div_body_middle_left_section_fl">
                        <span class="span_body_middle_left_section_fl_left">宠物服务</span>
                        <span class="span_body_middle_left_section_fl_right">配种</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">训练</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">托运</span>
                    </div>
                    <div class="div_body_middle_left_section_fl">
                        <span class="span_body_middle_left_section_fl_left">宠物医院</span>
                        <span class="span_body_middle_left_section_fl_right  active">美容</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">寄养</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">水族服务</span>
                    </div>
                    <div class="div_body_middle_left_section_fl">
                        <span class="span_body_middle_left_section_fl_left">宠物用品</span>
                        <span class="span_body_middle_left_section_fl_right">狗用品</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">猫用品</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">水族用品</span>
                    </div>
                    <div class="div_body_middle_left_section_fl">
                        <span class="span_body_middle_left_section_fl_left">宠物公益</span>
                        <span class="span_body_middle_left_section_fl_right">宠物赠送</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right active">寻宠启事</span>
                    </div>
                </div>
            </div>
            <div class="div_body_middle_left">
                <div class="div_body_middle_left_section" style="height: 670px;">
                    <p class="p_body_middle_left_title">@ViewData["XZQ"]招聘</p>
                    <p class="p_body_middle_left_title_small">福利专区</p>
                    <ul class="ul_body_middle_left_section" style="height: 90px;">
                        <li class="li_body_middle_left_section">年底双薪</li>
                        <li class="li_body_middle_left_section">包吃</li>
                        <li class="li_body_middle_left_section">包住</li>
                        <li class="li_body_middle_left_section active">五险一金</li>
                        <li class="li_body_middle_left_section">交通补助</li>
                        <li class="li_body_middle_left_section">房补</li>
                        <li class="li_body_middle_left_section active">双休</li>
                        <li class="li_body_middle_left_section">带薪年假</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">热招行业</p>
                    <ul class="ul_body_middle_left_section" style="height: 90px;">
                        <li class="li_body_middle_left_section">销售</li>
                        <li class="li_body_middle_left_section active">工人</li>
                        <li class="li_body_middle_left_section active">司机</li>
                        <li class="li_body_middle_left_section">餐饮</li>
                        <li class="li_body_middle_left_section">出国劳务</li>
                        <li class="li_body_middle_left_section">物流运输</li>
                        <li class="li_body_middle_left_section">超市零售</li>
                        <li class="li_body_middle_left_section">家政保洁</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">热招职位</p>
                    <ul class="ul_body_middle_left_section" style="height: 600px;">
                        <li class="li_body_middle_left_section">销售</li>
                        <li class="li_body_middle_left_section">客服</li>
                        <li class="li_body_middle_left_section">文员</li>
                        <li class="li_body_middle_left_section">会计</li>
                        <li class="li_body_middle_left_section">普工</li>
                        <li class="li_body_middle_left_section">保安</li>
                        <li class="li_body_middle_left_section">保姆</li>
                        <li class="li_body_middle_left_section">司机</li>
                        <li class="li_body_middle_left_section">厨师</li>
                        <li class="li_body_middle_left_section">检验</li>
                        <li class="li_body_middle_left_section">服务员</li>
                        <li class="li_body_middle_left_section">淘宝客服</li>
                        <li class="li_body_middle_left_section">保洁</li>
                        <li class="li_body_middle_left_section">采购</li>
                        <li class="li_body_middle_left_section">快递员</li>
                        <li class="li_body_middle_left_section">平面设计</li>
                        <li class="li_body_middle_left_section">美发</li>
                        <li class="li_body_middle_left_section">出纳</li>
                        <li class="li_body_middle_left_section">收银员</li>
                        <li class="li_body_middle_left_section">健身教练</li>
                        <li class="li_body_middle_left_section">外贸</li>
                        <li class="li_body_middle_left_section">幼教</li>
                        <li class="li_body_middle_left_section">洗车工</li>
                        <li class="li_body_middle_left_section">直播主播</li>
                        <li class="li_body_middle_left_section">房产</li>
                        <li class="li_body_middle_left_section">演员</li>
                        <li class="li_body_middle_left_section">美容师</li>
                        <li class="li_body_middle_left_section">仓库管理</li>
                        <li class="li_body_middle_left_section">电工</li>
                        <li class="li_body_middle_left_section">导游</li>
                        <li class="li_body_middle_left_section">导购员</li>
                        <li class="li_body_middle_left_section">摄影摄像</li>
                        <li class="li_body_middle_left_section">人事</li>
                        <li class="li_body_middle_left_section">中医</li>
                        <li class="li_body_middle_left_section">钟点工</li>
                        <li class="li_body_middle_left_section">检验化验</li>
                        <li class="li_body_middle_left_section">焊工</li>
                        <li class="li_body_middle_left_section">家教</li>
                        <li class="li_body_middle_left_section">营业员</li>
                        <li class="li_body_middle_left_section">美发学徒</li>
                        <li class="li_body_middle_left_section">律师</li>
                        <li class="li_body_middle_left_section">翻译</li>
                        <li class="li_body_middle_left_section">程序员</li>
                        <li class="li_body_middle_left_section">护士护理</li>

                    </ul>
                </div>
                <div class="div_body_middle_left_section" style="height: 250px;">
                    <p class="p_body_middle_left_title">@ViewData["XZQ"]兼职</p>
                    <ul class="ul_body_middle_left_section" style="height: 120px;">
                        <li class="li_body_middle_left_section">家教</li>
                        <li class="li_body_middle_left_section">财务会计</li>
                        <li class="li_body_middle_left_section">服务员</li>
                        <li class="li_body_middle_left_section">促销导购</li>
                        <li class="li_body_middle_left_section active">学生兼职</li>
                        <li class="li_body_middle_left_section">传单派发</li>
                        <li class="li_body_middle_left_section">演员</li>
                        <li class="li_body_middle_left_section">客服</li>
                        <li class="li_body_middle_left_section active">模特</li>
                        <li class="li_body_middle_left_section">平面设计</li>
                        <li class="li_body_middle_left_section">才艺老师</li>
                        <li class="li_body_middle_left_section">充场观众</li>
                        <li class="li_body_middle_left_section active">网络兼职</li>
                        <li class="li_body_middle_left_section">展会活动</li>
                        <li class="li_body_middle_left_section">兼职群</li>
                        <li class="li_body_middle_left_section">其他兼职</li>
                    </ul>
                </div>
                <div class="div_body_middle_left_section" style="height: 305px;">
                    <p class="p_body_middle_left_title">培训</p>
                    <ul class="ul_body_middle_left_section" style="height: 90px;">
                        <li class="li_body_middle_left_section active">家教机构</li>
                        <li class="li_body_middle_left_section">家教个人</li>
                        <li class="li_body_middle_left_section active">职业技能</li>
                        <li class="li_body_middle_left_section">外语培训</li>
                        <li class="li_body_middle_left_section">学历教育</li>
                        <li class="li_body_middle_left_section">电脑培训</li>
                        <li class="li_body_middle_left_section">设计培训</li>
                        <li class="li_body_middle_left_section">体育培训</li>
                        <li class="li_body_middle_left_section active">艺术培训</li>
                        <li class="li_body_middle_left_section">幼儿培训</li>
                        <li class="li_body_middle_left_section">出国留学</li>
                        <li class="li_body_middle_left_section">移民服务</li>
                    </ul>
                </div>
            </div>
            <div class="div_body_middle_left">
                <div class="div_body_middle_left_section" style="height: 1065px;">
                    <p class="p_body_middle_left_title">生活服务</p>
                    <p class="p_body_middle_left_title_small">家政服务</p>
                    <ul class="ul_body_middle_left_section" style="height: 90px;">
                        <li class="li_body_middle_left_section">保姆月嫂</li>
                        <li class="li_body_middle_left_section active">生活配送</li>
                        <li class="li_body_middle_left_section">物品回收</li>
                        <li class="li_body_middle_left_section active">搬家</li>
                        <li class="li_body_middle_left_section">保洁清洗</li>
                        <li class="li_body_middle_left_section">洗衣护理</li>
                        <li class="li_body_middle_left_section">空调移机</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">维修服务</p>
                    <ul class="ul_body_middle_left_section" style="height: 90px;">
                        <li class="li_body_middle_left_section">开锁修锁</li>
                        <li class="li_body_middle_left_section">管道维修</li>
                        <li class="li_body_middle_left_section">房屋维修</li>
                        <li class="li_body_middle_left_section active">家电维修</li>
                        <li class="li_body_middle_left_section">家具维修</li>
                        <li class="li_body_middle_left_section">电脑维修</li>
                        <li class="li_body_middle_left_section active">手机维修</li>
                        <li class="li_body_middle_left_section">数码维修</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">装修建材</p>
                    <ul class="ul_body_middle_left_section" style="height: 60px;">
                        <li class="li_body_middle_left_section">家庭装修</li>
                        <li class="li_body_middle_left_section">软装装饰</li>
                        <li class="li_body_middle_left_section">建材</li>
                        <li class="li_body_middle_left_section">工装装修</li>
                        <li class="li_body_middle_left_section">局部翻新</li>
                        <li class="li_body_middle_left_section">拆旧</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">汽车服务</p>
                    <ul class="ul_body_middle_left_section" style="height: 60px;">
                        <li class="li_body_middle_left_section">租车</li>
                        <li class="li_body_middle_left_section">陪驾陪练</li>
                        <li class="li_body_middle_left_section">代驾</li>
                        <li class="li_body_middle_left_section">驾校</li>
                        <li class="li_body_middle_left_section">维修保养</li>
                        <li class="li_body_middle_left_section">车险服务</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">婚庆摄影</p>
                    <ul class="ul_body_middle_left_section" style="height: 150px;">
                        <li class="li_body_middle_left_section">婚庆</li>
                        <li class="li_body_middle_left_section">婚车</li>
                        <li class="li_body_middle_left_section">婚宴</li>
                        <li class="li_body_middle_left_section">司仪</li>
                        <li class="li_body_middle_left_section">彩妆</li>
                        <li class="li_body_middle_left_section">用品</li>
                        <li class="li_body_middle_left_section">跟拍</li>
                        <li class="li_body_middle_left_section">婚纱</li>
                        <li class="li_body_middle_left_section">儿童</li>
                        <li class="li_body_middle_left_section">写真</li>
                        <li class="li_body_middle_left_section">庆典</li>
                        <li class="li_body_middle_left_section">演出</li>
                        <li class="li_body_middle_left_section">场地</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">旅游酒店</p>
                    <div class="div_body_middle_left_section_fl" style="height: 60px;">
                        <span class="span_body_middle_left_section_fl_left active" style="height: 60px;">周边</span>
                        <span class="span_body_middle_left_section_fl_right">农家乐</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">烧烤</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">度假村</span>
                        <br />
                        <span class="span_body_middle_left_section_fl_right">温泉</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">采摘</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">漂流</span>
                    </div>
                    <div class="div_body_middle_left_section_fl" style="height: 60px;">
                        <span class="span_body_middle_left_section_fl_left active" style="height: 60px;">国内</span>
                        <span class="span_body_middle_left_section_fl_right">订房</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">自驾游</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">旅行社</span>
                        <br />
                        <span class="span_body_middle_left_section_fl_right">出境</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">签证</span>
                        <em class='em_body_middle_left_section_fl_right'>/</em>
                        <span class="span_body_middle_left_section_fl_right">跟团</span>
                    </div>
                    <p class="p_body_middle_left_title_small">休闲服务</p>
                    <ul class="ul_body_middle_left_section">
                        <li class="li_body_middle_left_section">休闲娱乐</li>
                        <li class="li_body_middle_left_section">运动健身</li>
                        <li class="li_body_middle_left_section">按摩足浴</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">其他服务</p>
                    <ul class="ul_body_middle_left_section" style="height: 90px;">
                        <li class="li_body_middle_left_section">丽人服务</li>
                        <li class="li_body_middle_left_section">鲜花盆景</li>
                        <li class="li_body_middle_left_section">本地名站</li>
                        <li class="li_body_middle_left_section">商品出售</li>
                        <li class="li_body_middle_left_section">白事服务</li>
                        <li class="li_body_middle_left_section">工艺鉴定</li>
                    </ul>
                </div>
                <div class="div_body_middle_left_section" style="height: 160px;">
                    <p class="p_body_middle_left_title">交友</p>
                    <ul class="ul_body_middle_left_section" style="height: 60px;">
                        <li class="li_body_middle_left_section active">同城交友</li>
                        <li class="li_body_middle_left_section active">同城征婚</li>
                        <li class="li_body_middle_left_section">同城活动</li>
                        <li class="li_body_middle_left_section">异地交友</li>
                        <li class="li_body_middle_left_section active">婚介服务</li>
                        <li class="li_body_middle_left_section">技能交换</li>
                        <li class="li_body_middle_left_section">找人寻物</li>
                        <li class="li_body_middle_left_section">宝贝寻家</li>
                        <li class="li_body_middle_left_section">交友群</li>
                    </ul>
                </div>
            </div>
            <div class="div_body_middle_left" style="margin-right: 0;">
                <div class="div_body_middle_left_section" style="height: 710px;">
                    <p class="p_body_middle_left_title">商务服务</p>
                    <p class="p_body_middle_left_title_small">商务服务</p>
                    <ul class="ul_body_middle_left_section" style="height: 240px;">
                        <li class="li_body_middle_left_section active">担保贷款</li>
                        <li class="li_body_middle_left_section">投资理财</li>
                        <li class="li_body_middle_left_section">财务会计</li>
                        <li class="li_body_middle_left_section">公司注册</li>
                        <li class="li_body_middle_left_section">网站建设</li>
                        <li class="li_body_middle_left_section">网络布线</li>
                        <li class="li_body_middle_left_section">设计策划</li>
                        <li class="li_body_middle_left_section">设备维修</li>
                        <li class="li_body_middle_left_section">设备租赁</li>
                        <li class="li_body_middle_left_section">建筑维修</li>
                        <li class="li_body_middle_left_section">货运物流</li>
                        <li class="li_body_middle_left_section">快递服务</li>
                        <li class="li_body_middle_left_section">律师服务</li>
                        <li class="li_body_middle_left_section">翻译服务</li>
                        <li class="li_body_middle_left_section">速记服务</li>
                        <li class="li_body_middle_left_section">保险服务</li>
                        <li class="li_body_middle_left_section">印刷包装</li>
                        <li class="li_body_middle_left_section">广告媒体</li>
                        <li class="li_body_middle_left_section">礼品定制</li>
                        <li class="li_body_middle_left_section">喷绘招牌</li>
                        <li class="li_body_middle_left_section">庆典演出</li>
                        <li class="li_body_middle_left_section">展览展会</li>
                        <li class="li_body_middle_left_section">餐饮美食</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">招商加盟</p>
                    <ul class="ul_body_middle_left_section" style="height: 90px;">
                        <li class="li_body_middle_left_section">餐饮加盟</li>
                        <li class="li_body_middle_left_section">网店加盟</li>
                        <li class="li_body_middle_left_section">建材加盟</li>
                        <li class="li_body_middle_left_section">美容保健</li>
                        <li class="li_body_middle_left_section">微商加盟</li>
                        <li class="li_body_middle_left_section">快递物流</li>
                        <li class="li_body_middle_left_section">教育培训</li>
                        <li class="li_body_middle_left_section">产品代理</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">工业设备</p>
                    <ul class="ul_body_middle_left_section">
                        <li class="li_body_middle_left_section">工业机械</li>
                        <li class="li_body_middle_left_section">木工设备</li>
                        <li class="li_body_middle_left_section">化工设备</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">物品批发</p>
                    <ul class="ul_body_middle_left_section">
                        <li class="li_body_middle_left_section">礼品</li>
                        <li class="li_body_middle_left_section">服装</li>
                        <li class="li_body_middle_left_section">化妆品</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">农林牧渔</p>
                    <ul class="ul_body_middle_left_section">
                        <li class="li_body_middle_left_section">畜禽养殖</li>
                        <li class="li_body_middle_left_section">园林花卉</li>
                        <li class="li_body_middle_left_section" style="width: 80px;">动植物种苗</li>
                    </ul>
                </div>
                <div class="div_body_middle_left_section" style="height: 515px;">
                    <p class="p_body_middle_left_title">二手市集</p>
                    <p class="p_body_middle_left_title_small">手机数码</p>
                    <ul class="ul_body_middle_left_section" style="height: 90px;">
                        <li class="li_body_middle_left_section active">二手手机</li>
                        <li class="li_body_middle_left_section">笔记本</li>
                        <li class="li_body_middle_left_section active">台式电脑</li>
                        <li class="li_body_middle_left_section">二手照相机</li>
                        <li class="li_body_middle_left_section">数码产品</li>
                        <li class="li_body_middle_left_section">手机配件</li>
                        <li class="li_body_middle_left_section">平板电脑</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">生活百货</p>
                    <ul class="ul_body_middle_left_section" style="height: 150px;">
                        <li class="li_body_middle_left_section">母婴用品</li>
                        <li class="li_body_middle_left_section active">家用家电</li>
                        <li class="li_body_middle_left_section">二手家具</li>
                        <li class="li_body_middle_left_section">家居日用</li>
                        <li class="li_body_middle_left_section">二手自行车</li>
                        <li class="li_body_middle_left_section">文体乐器</li>
                        <li class="li_body_middle_left_section">门票卡券</li>
                        <li class="li_body_middle_left_section">工艺收藏</li>
                        <li class="li_body_middle_left_section">奇石盆景</li>
                        <li class="li_body_middle_left_section">虚拟物品</li>
                        <li class="li_body_middle_left_section">商家全新</li>
                        <li class="li_body_middle_left_section">物品回收</li>
                        <li class="li_body_middle_left_section">服饰箱包</li>
                        <li class="li_body_middle_left_section">图书音像</li>
                        <li class="li_body_middle_left_section">食品农产</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">办公设备</p>
                    <ul class="ul_body_middle_left_section">
                        <li class="li_body_middle_left_section">办公用品</li>
                        <li class="li_body_middle_left_section">办公家具</li>
                        <li class="li_body_middle_left_section">工业设备</li>
                        <li class="li_body_middle_left_section">设备租赁</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="div_body_bottom">
            <p class="p_div_body_bottom_title">便民服务</p>
            <div class="div_body_bottom_section">
                <p class="p_div_body_bottom_section_title">实用工具</p>
                <ul class="ul_body_bottom_section">
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_gzjsq.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">工资计算器</p>
                    </li>
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_wzcx.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">交通违章</p>
                    </li>
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_czlcx.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">车质量查询</p>
                    </li>
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_yygh.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">医院挂号</p>
                    </li>
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_zxjsq.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">装修计算器</p>
                    </li>
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_kdcx.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">快递查询</p>
                    </li>
                </ul>
            </div>
            <div class="div_body_bottom_section" style="padding-left: 10px; width: 304px;">
                <p class="p_div_body_bottom_section_title">车辆出行</p>
                <ul class="ul_body_bottom_section">
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_jsz.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">驾驶证</p>
                    </li>
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_xsz.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">行驶证</p>
                    </li>
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_jjz.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">进京证</p>
                    </li>
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_xcaq.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">行车安全</p>
                    </li>
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_ycbk.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">养车百科</p>
                    </li>
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_gmgl.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">购买攻略</p>
                    </li>
                </ul>
            </div>
            <div class="div_body_bottom_section" style="padding-left: 10px; width: 304px;">
                <p class="p_div_body_bottom_section_title">生活经验</p>
                <ul class="ul_body_bottom_section">
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_shqm.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">生活窍门</p>
                    </li>
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_bjgl.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">搬家攻略</p>
                    </li>
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_hqgl.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">婚庆攻略</p>
                    </li>
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_zxzs.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">装修装饰</p>
                    </li>
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_cyzs.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">创业知识</p>
                    </li>
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_cszs.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">财税知识</p>
                    </li>
                </ul>
            </div>
            <div class="div_body_bottom_section" style="padding-left: 10px; width: 254px; border: none">
                <p class="p_div_body_bottom_section_title">办证攻略</p>
                <ul class="ul_body_bottom_section">
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_cjrj.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">出境入境</p>
                    </li>
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_syqz.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">生育亲子</p>
                    </li>
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_sfhj.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">身份户籍</p>
                    </li>
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_sbyl.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">社保医疗</p>
                    </li>
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_fcjy.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">房产交易</p>
                    </li>
                    <li class="li_body_bottom_section">
                        <p class="p_li_body_bottom_section">
                            <img class="img_li_body_bottom_section" src="@Url.Content("~/Areas/Business/Css/images/sy/bmfw/sy_bmfw_jhlz.png")" />
                        </p>
                        <p class="p_li_body_bottom_section">结婚领证</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="div_Foot" class="div_foot">
        <div class="div_foot_left">
            <img class="i_body_top_left" src="@Url.Content("~/Areas/Business/Css/images/logo_blue.png")" />
        </div>
        <div class="div_foot_right">
            <p class="p_div_foot_right">
                关于信息小镇
                <ul class="ul_div_foot_right">
                    <li class="li_div_foot_right">了解信息小镇</li>
                    <li class="li_div_foot_right">加入信息小镇</li>
                </ul>
        </div>
        <div class="div_foot_right">
            <p class="p_div_foot_right">商户推广</p>
            <ul class="ul_div_foot_right">
                <li class="li_div_foot_right">VIP会员服务</li>
                <li class="li_div_foot_right">付费推广</li>
                <li class="li_div_foot_right">宠物专区</li>
                <li class="li_div_foot_right">全网通</li>
            </ul>
        </div>
        <div class="div_foot_right">
            <p class="p_div_foot_right">合作加盟</p>
            <ul class="ul_div_foot_right">
                <li class="li_div_foot_right">市场与商务合作</li>
                <li class="li_div_foot_right">网络品牌推广</li>
                <li class="li_div_foot_right">城市合伙人招募</li>
                <li class="li_div_foot_right">代理商招募</li>
                <li class="li_div_foot_right">API合作</li>
                <li class="li_div_foot_right">大众评审</li>
            </ul>
        </div>
        <div class="div_foot_right">
            <p class="p_div_foot_right">服务支持</p>
            <ul class="ul_div_foot_right">
                <li class="li_div_foot_right">渠道招商</li>
                <li class="li_div_foot_right">先行赔付</li>
                <li class="li_div_foot_right">诚信建设</li>
                <li class="li_div_foot_right">举报平台</li>
            </ul>
        </div>
        <div class="div_foot_right">
            <p class="p_div_foot_right">帮助中心</p>
            <ul class="ul_div_foot_right">
                <li class="li_div_foot_right">常见问题</li>
                <li class="li_div_foot_right">更多帮助</li>
                <li class="li_div_foot_right">意见反馈</li>
            </ul>
        </div>
        <p class="p_div_foot_bottom"></p>
    </div>
    <div class="div_bottom">
        <p class="p_div_bottom">©2017 福建天问信息技术有限公司 客服电话：400-036-3432 | 021-6430110（周一至周日，9:00-18:00）</p>
        <p class="p_div_bottom reduce">闽ICP备06019413号 | 闽ICP证B2-20080088 | 闽公网安备31010402000116号</p>
    </div>
}