@{
    ViewBag.Title = "信息小镇_首页";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/SY.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Business/Css/Common/Top.css" )" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Business/Css/Common/XZQ.css" )" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/SY.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/Common/XZQ.js")"></script>
</head>
<body>
    <div id="divTop" class="div_top">
        <div class="div_top_left">
            <span class="span_dqxzq" id="span_content_info_xzq">@ViewData["XZQ"]</span>
            [<span class="span_qhcs" id="span_content_info_qhcs">切换城市</span>]
        </div>
        <div id="div_XZQ" class="div_dropdown">
        </div>
        <div class="div_top_right">
            <span class="span_top_right">
                登录/注册
            </span>
            <span class="span_top_right_split"></span>
            <span class="span_top_right">
                个人中心
            </span>
            <span class="span_top_right_split"></span>
            <span class="span_top_right">
                帮助中心
            </span>
        </div>
    </div>
    <div id="divHead" class="div_head">
        <div class="div_head_left">
            <img class="img_head_left_logo" src="@Url.Content("~/Areas/Business/Css/images/logo_blue.png")" />
        </div>
        <div class="div_head_right">
            <div class="div_head_right_ss">
                <span id="spanXSLC" class="span_spaninput_out SRK">
                    <input class="span_spaninput_in spaninput_fontcolor" id="SS" type="text" placeholder="找房子,找工作,找服务," />
                    <span class="span_ss">搜索</span>
                </span>
                <span class="span_head_right_ss">租房子</span>
                <span class="span_head_right_ss">二手车</span>
                <span class="span_head_right_ss">兼职</span>
                <span class="span_head_right_ss">装修服务</span>
                <span class="span_head_right_ss">旅游度假</span>
                <span class="span_head_right_ss">居民搬家</span>
                <span class="span_head_right_ss">演出表演</span>
                <span class="span_head_right_ss">运动健身</span>
            </div>
            <span class="span_fbxx" id="span_fbxx">免费发布信息</span>
        </div>
    </div>
    <div id="divNav" class="div_head_nav">
        <ul class="ul_head_nav">
            <li id="li_head_sy" class="li_head_nav" style="width: 80px;"><span class="span_head_nav">首页</span></li>
            <li id="li_head_xzapp" class="li_head_nav"><span class="span_head_nav">小镇APP</span><i class="i_head_nav"></i></li>
            <li id="li_head_xzgzh" class="li_head_nav"><span class="span_head_nav">小镇公众号</span><i class="i_head_nav"></i></li>
            <li id="li_head_xcx" class="li_head_nav"><span class="span_head_nav">小程序</span><i class="i_head_nav"></i></li>
            <li id="li_head_xztm" class="li_head_nav"><span class="span_head_nav">小镇特卖</span></li>
            <li id="li_head_xzjr" class="li_head_nav"><span class="span_head_nav">小镇金融</span></li>
            <li id="li_head_xzgy" class="li_head_nav"><span class="span_head_nav">小镇公益</span></li>
            <li id="li_head_xzfc" class="li_head_nav"><span class="span_head_nav">小镇房产</span></li>
            <li id="li_head_xzesc" class="li_head_nav"><span class="span_head_nav">二手车</span></li>
            <li id="li_head_xztg" class="li_head_nav"><span class="span_head_nav">小镇推广</span><i class="i_head_nav"></i></li>
            <li id="li_head_viphy" class="li_head_nav"><span class="span_head_nav">VIP会员</span><i class="i_head_nav"></i></li>
        </ul>
    </div>
    <div id="div_Body" class="div_body">
        <div class="div_body_top">
            <div class="div_body_top_left">
                <ul class="ul_body_top_left">
                    <li class="li_body_top_left">
                        <p class="p_body_top_left">
                            <img class="i_body_top_left" src="@Url.Content("~/Areas/Business/Css/images/body_top_zp.png")" />
                        </p>
                        <p class="p_body_top_left p_body_top_left_dl">招聘</p>
                        <p class="p_body_top_left">
                            <span class="span_body_top_left span_body_top_left_xl">全职</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">兼职</span>
                        </p>
                    </li>
                    <li class="li_body_top_left">
                        <p class="p_body_top_left">
                            <img class="i_body_top_left" src="@Url.Content("~/Areas/Business/Css/images/body_top_esc.png")" />
                        </p>
                        <p class="p_body_top_left p_body_top_left_dl">二手车</p>
                        <p class="p_body_top_left">
                            <span class="span_body_top_left span_body_top_left_xl">家用</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">商用</span>
                        </p>
                    </li>
                    <li class="li_body_top_left">
                        <p class="p_body_top_left">
                            <img class="i_body_top_left" src="@Url.Content("~/Areas/Business/Css/images/body_top_fc.png")" />
                        </p>
                        <p class="p_body_top_left p_body_top_left_dl">房产</p>
                        <p class="p_body_top_left">
                            <span class="span_body_top_left span_body_top_left_xl">租房</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">买房</span>
                        </p>
                    </li>
                    <li class="li_body_top_left">
                        <p class="p_body_top_left">
                            <img class="i_body_top_left" src="@Url.Content("~/Areas/Business/Css/images/body_top_cw.png")" />
                        </p>
                        <p class="p_body_top_left p_body_top_left_dl">宠物</p>
                        <p class="p_body_top_left">
                            <span class="span_body_top_left span_body_top_left_xl">狗</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">猫</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">鱼</span>
                        </p>
                    </li>
                    <li class="li_body_top_left">
                        <p class="p_body_top_left">
                            <img class="i_body_top_left" src="@Url.Content("~/Areas/Business/Css/images/body_top_essc.png")" />
                        </p>
                        <p class="p_body_top_left p_body_top_left_dl">二手市场</p>
                        <p class="p_body_top_left">
                            <span class="span_body_top_left span_body_top_left_xl">手机</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">家电</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">回收</span>
                        </p>
                    </li>
                    <li class="li_body_top_left">
                        <p class="p_body_top_left">
                            <img class="i_body_top_left" src="@Url.Content("~/Areas/Business/Css/images/body_top_shfw.png")" />
                        </p>
                        <p class="p_body_top_left p_body_top_left_dl">生活服务</p>
                        <p class="p_body_top_left">
                            <span class="span_body_top_left span_body_top_left_xl">搬家</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">保姆</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">家教</span>
                        </p>
                    </li>
                    <li class="li_body_top_left">
                        <p class="p_body_top_left">
                            <img class="i_body_top_left" src="@Url.Content("~/Areas/Business/Css/images/body_top_swfw.png")" />
                        </p>
                        <p class="p_body_top_left p_body_top_left_dl">商务服务</p>
                        <p class="p_body_top_left">
                            <span class="span_body_top_left span_body_top_left_xl">工商</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">加盟</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">租赁</span>
                        </p>
                    </li>
                    <li class="li_body_top_left">
                        <p class="p_body_top_left">
                            <img class="i_body_top_left" src="@Url.Content("~/Areas/Business/Css/images/body_top_jypx.png")" />
                        </p>
                        <p class="p_body_top_left p_body_top_left_dl">教育培训</p>
                        <p class="p_body_top_left">
                            <span class="span_body_top_left span_body_top_left_xl">语言</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">艺术</span>
                            <span class="span_body_top_left">/</span>
                            <span class="span_body_top_left span_body_top_left_xl">技能</span>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="div_body_top_right">
                <div class="div_body_top_right_zxfb">
                    <p class="p_body_top_right_zxfb">最新发布</p>
                    <div class="div_ul_body_top_right_zxfb">
                        <ul id="ul_body_top_right_zxfb" class="ul_body_top_right_zxfb"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="div_body_middle">
            <div class="div_body_middle_left">
                <div id="div_body_middle_left_section_fc" class="div_body_middle_left_section" style="height: 280px;">
                    <p class="p_body_middle_left_title">房产</p>
                    <p class="p_body_middle_left_title_small">房屋买卖</p>
                    <ul class="ul_body_middle_left_section" style="height: 60px;">
                        <li class="li_body_middle_left_section">求租求购</li>
                        <li class="li_body_middle_left_section">日租短租</li>
                        <li class="li_body_middle_left_section">找人合租</li>
                        <li class="li_body_middle_left_section li_body_middle_left_section_active">二手房</li>
                        <li class="li_body_middle_left_section">新房出售</li>
                        <li class="li_body_middle_left_section li_body_middle_left_section_active">房屋出租</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">商业地产</p>
                    <ul class="ul_body_middle_left_section">
                        <li class="li_body_middle_left_section li_body_middle_left_section_active">商铺出租</li>
                        <li class="li_body_middle_left_section">商铺出售</li>
                        <li class="li_body_middle_left_section li_body_middle_left_section_active">商铺转让</li>
                        <li class="li_body_middle_left_section">厂房仓库</li>
                        <li class="li_body_middle_left_section">写字楼出租</li>
                        <li class="li_body_middle_left_section">写字楼出售</li>
                    </ul>
                </div>
                <div class="div_body_middle_left_section" style="height: 456px;">
                    <p class="p_body_middle_left_title">车辆</p>
                    <p class="p_body_middle_left_title_small">商用车</p>
                    <ul class="ul_body_middle_left_section" style="height: 60px;">
                        <li class="li_body_middle_left_section">货车</li>
                        <li class="li_body_middle_left_section">工程车</li>
                        <li class="li_body_middle_left_section">拖拉机</li>
                        <li class="li_body_middle_left_section">自卸车</li>
                        <li class="li_body_middle_left_section">挖掘机</li>
                        <li class="li_body_middle_left_section">平板车</li>
                        <li class="li_body_middle_left_section">厢式货车</li>
                        <li class="li_body_middle_left_section">半挂车</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">二手车</p>
                    <ul class="ul_body_middle_left_section" style="height: 150px;">
                        <li class="li_body_middle_left_section">0-2万</li>
                        <li class="li_body_middle_left_section">2-4万</li>
                        <li class="li_body_middle_left_section">4-8万</li>
                        <li class="li_body_middle_left_section">8万以上</li>
                        <li class="li_body_middle_left_section li_body_middle_left_section_active">大众</li>
                        <li class="li_body_middle_left_section">丰田</li>
                        <li class="li_body_middle_left_section">本田</li>
                        <li class="li_body_middle_left_section">宝马</li>
                        <li class="li_body_middle_left_section">日产</li>
                        <li class="li_body_middle_left_section">现代</li>
                        <li class="li_body_middle_left_section">奥迪</li>
                        <li class="li_body_middle_left_section">别克</li>
                        <li class="li_body_middle_left_section">铃木</li>
                        <li class="li_body_middle_left_section">雪弗兰</li>
                        <li class="li_body_middle_left_section">奇瑞</li>
                        <li class="li_body_middle_left_section">比亚迪</li>
                        <li class="li_body_middle_left_section li_body_middle_left_section_active">二手轿车</li>
                        <li class="li_body_middle_left_section">客车</li>
                        <li class="li_body_middle_left_section">摩托车</li>
                        <li class="li_body_middle_left_section li_body_middle_left_section_active">电动车</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">车辆周边</p>
                    <ul class="ul_body_middle_left_section" style="height: 60px;">
                        <li class="li_body_middle_left_section">贷款购车</li>
                        <li class="li_body_middle_left_section">高价收车</li>
                        <li class="li_body_middle_left_section">新车优惠</li>
                        <li class="li_body_middle_left_section">维修保养</li>
                        <li class="li_body_middle_left_section">汽车配件</li>
                        <li class="li_body_middle_left_section">汽车用品</li>
                        <li class="li_body_middle_left_section" style="width: 100px;">拼车顺风车</li>
                    </ul>
                </div>
                <div class="div_body_middle_left_section" style="height: 630px;">
                    <p class="p_body_middle_left_title">宠物</p>
                    <p class="p_body_middle_left_title_small p_body_middle_left_title_small_active">狗狗</p>
                    <ul class="ul_body_middle_left_section" style="height: 60px;">
                        <li class="li_body_middle_left_section">金毛</li>
                        <li class="li_body_middle_left_section">哈士奇</li>
                        <li class="li_body_middle_left_section">阿拉斯加</li>
                        <li class="li_body_middle_left_section li_body_middle_left_section_active">泰迪</li>
                        <li class="li_body_middle_left_section">斗牛犬</li>
                        <li class="li_body_middle_left_section">格力犬</li>
                    </ul>
                    <p class="p_body_middle_left_title_small p_body_middle_left_title_small_active">猫猫</p>
                    <ul class="ul_body_middle_left_section" style="height: 60px;">
                        <li class="li_body_middle_left_section">蓝猫</li>
                        <li class="li_body_middle_left_section">折耳猫</li>
                        <li class="li_body_middle_left_section">加菲猫</li>
                        <li class="li_body_middle_left_section">布偶猫</li>
                        <li class="li_body_middle_left_section">短毛猫</li>
                        <li class="li_body_middle_left_section">豹猫</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">花鸟虫鱼</p>
                    <ul class="ul_body_middle_left_section">
                        <li class="li_body_middle_left_section">观赏鱼</li>
                        <li class="li_body_middle_left_section">观赏鸟</li>
                        <li class="li_body_middle_left_section">观赏龟</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">宠物服务</p>
                    <ul class="ul_body_middle_left_section">
                        <li class="li_body_middle_left_section">配种</li>
                        <li class="li_body_middle_left_section">训练</li>
                        <li class="li_body_middle_left_section">托运</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">宠物医院</p>
                    <ul class="ul_body_middle_left_section">
                        <li class="li_body_middle_left_section li_body_middle_left_section_active">美容</li>
                        <li class="li_body_middle_left_section">寄养</li>
                        <li class="li_body_middle_left_section">水族服务</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">宠物用品</p>
                    <ul class="ul_body_middle_left_section">
                        <li class="li_body_middle_left_section li_body_middle_left_section_active">狗用品</li>
                        <li class="li_body_middle_left_section">猫用品</li>
                        <li class="li_body_middle_left_section">水族用品</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">宠物公益</p>
                    <ul class="ul_body_middle_left_section">
                        <li class="li_body_middle_left_section">宠物赠送</li>
                        <li class="li_body_middle_left_section">寻宠启事</li>
                    </ul>
                </div>
            </div>
            <div class="div_body_middle_left">
                <div class="div_body_middle_left_section" style="height: 880px; float: left; display: block;">
                    <p class="p_body_middle_left_title">招聘</p>
                    <p class="p_body_middle_left_title_small">福利专区</p>
                    <ul class="ul_body_middle_left_section" style="height: 60px;">
                        <li class="li_body_middle_left_section">年底双薪</li>
                        <li class="li_body_middle_left_section">包吃</li>
                        <li class="li_body_middle_left_section">包住</li>
                        <li class="li_body_middle_left_section li_body_middle_left_section_active">五险一金</li>
                        <li class="li_body_middle_left_section">交通补助</li>
                        <li class="li_body_middle_left_section">房补</li>
                        <li class="li_body_middle_left_section li_body_middle_left_section_active">双休</li>
                        <li class="li_body_middle_left_section">带薪年假</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">热招行业</p>
                    <ul class="ul_body_middle_left_section" style="height: 60px;">
                        <li class="li_body_middle_left_section">销售</li>
                        <li class="li_body_middle_left_section li_body_middle_left_section_active">工人</li>
                        <li class="li_body_middle_left_section li_body_middle_left_section_active">司机</li>
                        <li class="li_body_middle_left_section">餐饮</li>
                        <li class="li_body_middle_left_section">出国劳务</li>
                        <li class="li_body_middle_left_section">物流运输</li>
                        <li class="li_body_middle_left_section">超市零售</li>
                        <li class="li_body_middle_left_section">家政保洁</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">热招职位</p>
                    <ul class="ul_body_middle_left_section" style="height: 600px;">
                        <li class="li_body_middle_left_section">销售</li>
                        <li class="li_body_middle_left_section">客服</li>
                        <li class="li_body_middle_left_section">文员</li>
                        <li class="li_body_middle_left_section">会计</li>
                        <li class="li_body_middle_left_section">普工</li>
                        <li class="li_body_middle_left_section">保安</li>
                        <li class="li_body_middle_left_section">保姆</li>
                        <li class="li_body_middle_left_section">司机</li>
                        <li class="li_body_middle_left_section">厨师</li>
                        <li class="li_body_middle_left_section">检验</li>
                        <li class="li_body_middle_left_section">服务员</li>
                        <li class="li_body_middle_left_section">淘宝客服</li>
                        <li class="li_body_middle_left_section">保洁</li>
                        <li class="li_body_middle_left_section">采购</li>
                        <li class="li_body_middle_left_section">快递员</li>
                        <li class="li_body_middle_left_section">平面设计</li>
                        <li class="li_body_middle_left_section">美发</li>
                        <li class="li_body_middle_left_section">出纳</li>
                        <li class="li_body_middle_left_section">收银员</li>
                        <li class="li_body_middle_left_section">健身教练</li>
                        <li class="li_body_middle_left_section">外贸</li>
                        <li class="li_body_middle_left_section">幼教</li>
                        <li class="li_body_middle_left_section">洗车工</li>
                        <li class="li_body_middle_left_section">直播主播</li>
                        <li class="li_body_middle_left_section">房产</li>
                        <li class="li_body_middle_left_section">演员</li>
                        <li class="li_body_middle_left_section">美容师</li>
                        <li class="li_body_middle_left_section">仓库管理</li>
                        <li class="li_body_middle_left_section">电工</li>
                        <li class="li_body_middle_left_section">导游</li>
                        <li class="li_body_middle_left_section">导购员</li>
                        <li class="li_body_middle_left_section">摄影摄像</li>
                        <li class="li_body_middle_left_section">人事</li>
                        <li class="li_body_middle_left_section">中医</li>
                        <li class="li_body_middle_left_section">钟点工</li>
                        <li class="li_body_middle_left_section">检验化验</li>
                        <li class="li_body_middle_left_section">焊工</li>
                        <li class="li_body_middle_left_section">家教</li>
                        <li class="li_body_middle_left_section">营业员</li>
                        <li class="li_body_middle_left_section">美发学徒</li>
                        <li class="li_body_middle_left_section">律师</li>
                        <li class="li_body_middle_left_section">翻译</li>
                        <li class="li_body_middle_left_section">程序员</li>
                        <li class="li_body_middle_left_section">护士护理</li>

                    </ul>
                </div>
                <div id="div_body_middle_left_section_fc" class="div_body_middle_left_section" style="height: 280px;">
                    <p class="p_body_middle_left_title">房产</p>
                    <p class="p_body_middle_left_title_small">房屋买卖</p>
                    <ul class="ul_body_middle_left_section" style="height: 60px;">
                        <li class="li_body_middle_left_section">求租求购</li>
                        <li class="li_body_middle_left_section">日租短租</li>
                        <li class="li_body_middle_left_section">找人合租</li>
                        <li class="li_body_middle_left_section li_body_middle_left_section_active">二手房</li>
                        <li class="li_body_middle_left_section">新房出售</li>
                        <li class="li_body_middle_left_section li_body_middle_left_section_active">房屋出租</li>
                    </ul>
                    <p class="p_body_middle_left_title_small">商业地产</p>
                    <ul class="ul_body_middle_left_section">
                        <li class="li_body_middle_left_section li_body_middle_left_section_active">商铺出租</li>
                        <li class="li_body_middle_left_section">商铺出售</li>
                        <li class="li_body_middle_left_section li_body_middle_left_section_active">商铺转让</li>
                        <li class="li_body_middle_left_section">厂房仓库</li>
                        <li class="li_body_middle_left_section">写字楼出租</li>
                        <li class="li_body_middle_left_section">写字楼出售</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>