@{
    ViewBag.Title = "BZZX";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/HTFB/BZZX/BZZX.js")"></script>
</head>
<body>
    <div class="div_head">
        <div class="div_head_main">
            <span class="span_head_main_logo"></span>
            <span class="span_head_main_bzzx">帮助中心</span>
        </div>
        <div class="div_head_nav">
            <div class="div_head_nav_info">
                <span class="span_head_nav_info" id="span_head_nav_info_sy">首页</span>
                <span class="span_head_nav_info" id="span_head_nav_info_lxkf">联系客服</span>
                <span class="span_head_nav_info" id="span_head_nav_info_wzjy">网站建议</span>
            </div>
        </div>
    </div>
    <div class="div_body">
        <iframe class="iframe" id="iframeright"></iframe>
    </div>
    <div class="div_bottom">
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">关于信息小镇</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">联系我们</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">友情链接</span>
        </div>
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">推广服务</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">客户服务中心</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">Copyright&nbsp;©&nbsp;&nbsp;www.infotownlet.com</span>
        </div>
    </div>
    <div class="div_shadow" id="shadow"></div>
    <div class="div_editImgWindow" id="editImgWindow">
        <div id="editImgHead">
            <span>编辑图片</span>
            <div id="btnClose"></div>
        </div>
        <div id="canvasFrame">
            <canvas id="canvas" width="1570" height="870" style="width:785px;height:435px;"></canvas>
        </div>
        <div id="toolBar">
            <div id="editToolBar">
                <div class="editToolButton" id="rotate">
                    <div class="editButtonIcon" style="background-image:url(@Url.Content("~/Areas/Business/Css/images/rotate.png"))"></div>
                    <span>旋转</span>
                </div>
                <div class="editToolButton" id="clip">
                    <div class="editButtonIcon" style="background-image:url(@Url.Content("~/Areas/Business/Css/images/clip.png"))"></div>
                    <span>裁剪</span>
                </div>
                <div class="editToolButton" id="mosaic">
                    <div class="editButtonIcon" style="background-image:url(@Url.Content("~/Areas/Business/Css/images/mosaic.png"))"></div>
                    <span>模糊</span>
                </div>
            </div>
        </div>
        <input type="button" id="btnSavePhoto" class="btn btn-info" style="height: 34px; width:69px; position:absolute;bottom:14px;right:77px;" value="保&nbsp;&nbsp;存" />
    </div>
</body>
</html>
