@{
    Layout = "~/Areas/Business/Views/Shared/BZZX.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_SY_KSDH_YHJBXXYDL.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_SY_KSDH_YHJBXXYDL.js")"></script>
</head>
<body>
    <div class="div_head">
        <div class="div_head_main">
            <span class="span_head_main_logo"></span>
            <span class="span_head_main_bzzx">帮助中心</span>
        </div>
    </div>
    <em class="em_split"></em>
    <div class="div_body">
        <div class="div_body_nav">
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="1"><span class="span_body_nav_inner">1、如何注册账户</span></span>
                <span class="span_body_nav" id="2"><span class="span_body_nav_inner">2、如何登录账户</span></span>
                <span class="span_body_nav" id="3"><span class="span_body_nav_inner">3、如何修改用户名和密码</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="4"><span class="span_body_nav_inner">4、如何更换绑定的手机号</span></span>
                <span class="span_body_nav" id="5"><span class="span_body_nav_inner">5、账户丢失或被盗了怎么办</span></span>
            </div>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_1">1.如何注册账户</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td colspan="2" class="td_content">
			1、点击风铃网首页上方的“免费注册”
			<img src="@Url.Content("~/Areas/Business/Css/images/BZZX/bzzx_sy_ksdh_mfzc.png")" /><br/>
			2、填写资料并认证阅读 "风铃网用户使用协议" 后,勾选本人已仔细阅读并同意，点击注册,便可注册成为风铃网用户<br/>
			<img src="@Url.Content("~/Areas/Business/Css/images/BZZX/bzzx_sy_ksdh_zcym.png")" />
		    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_2">2.如何登录账户</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td colspan="2" class="td_content">
			1、点击首页右上方的“您好，请登录”,跳转到登录页面<br/>
			<img src="@Url.Content("~/Areas/Business/Css/images/BZZX/bzzx_sy_ksdh_dl.png")" /><br/>	
			2、用户名密码登录:输入用户名、密码，点击登录;<br/>
			<img src="@Url.Content("~/Areas/Business/Css/images/BZZX/bzzx_sy_ksdh_dlym.png")" /><br/>
			3、手机验证码登录:输入手机号并获取手机验证码，点击登录<br/>
			<img src="@Url.Content("~/Areas/Business/Css/images/BZZX/bzzx_sy_ksdh_dlym2.png")" />
		    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_3">3.如何修改用户名和密码</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td colspan="2" class="td_content">
                        1、用户注册后是不可以修改用户名的，用户名是您在风铃网上的身份标识，是唯一并永久的，一旦注册成功，就无法再更改了。因此，在注册时请选择您喜欢并能牢记的用户名。风铃网推荐您使用中文的用户名。<br />
                        2、按以下操作即可修改密码：<br/>
                        （1）点击首页右上方的“个人中心”，进入后台管理<br/>
			<img src="@Url.Content("~/Areas/Business/Css/images/BZZX/bzzx_sy_ksdh_grzx.png")" /><br/>
                        （2）打开我的账户->密码设置页面<br/>
			<img src="@Url.Content("~/Areas/Business/Css/images/BZZX/bzzx_htgl_wdzh_mmsz.png")" /><br/>
			（3）输入旧密码、新密码和确认密码,点击“完成修改”<br/>
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_4">4.如何更换绑定的手机号</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td colspan="2" class="td_content">
			（1）点击首页右上方的“个人中心”，进入后台管理<br/>
			<img src="@Url.Content("~/Areas/Business/Css/images/BZZX/bzzx_sy_ksdh_grzx.png")" /><br/>
			（2）打开我的账户->账号绑定->认证手机,点击“换绑”按钮<br/>
			<img src="@Url.Content("~/Areas/Business/Css/images/BZZX/bzzx_htgl_wdzh_zhbd_hbsj.png")" /><br/>
			（3）按步骤完成手机换绑<br/>
			<img src="@Url.Content("~/Areas/Business/Css/images/BZZX/bzzx_htgl_wdzh_zhbd_hbsj_xx.png")" /><br/>
		    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_5">5.账户丢失或被盗了怎么办</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td colspan="2" class="td_content">
			打开帮助中心->联系客服,填写问题,问题类型选择账户被盗,提交问题<br/>
			<img src="@Url.Content("~/Areas/Business/Css/images/BZZX/bzzx_lxkf_zhbd.png")" /><br/>
		    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="div_bottom">
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">关于风铃网</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">联系我们</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">友情链接</span>
        </div>
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">推广服务</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">客户服务中心</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">Copyright&nbsp;©&nbsp;&nbsp;www.infotownlet.com</span>
        </div>
    </div>
    <div class="div_rtop" id="div_rtop" onClick="GoToTop()"></div>
</body>
</html>
