@{
    ViewBag.Title = "WZCX";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/WZCX/WZCX.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Business/Css/Common/XZQ.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Business/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/WZCX/WZCX.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/Common/XZQ.js")"></script>
</head>
<body>
    <div class="div_content_head">
        <span class="span_div_content_title">全国交通违章查询</span>
    </div>
    <em class="em_content_info"></em>
    <div class="div_content_info" style="z-index: 999">
        <div class="divLeft">
            <span class="spanFWCZ">查询区域</span>
        </div>
        <div class="divRight">
            <div class="spanCPHOut">
                <div style="width: 200px; margin-top:15px;">
                    <span class="span_content_info_xzq" id="span_content_info_xzq">福州</span>
                    <span class="span_content_info_qhcs" id="span_content_info_qhcs">[切换城市]</span>
                </div>
                <div id="div_XZQ" class="div_dropdown" style="top:40px; left:0px;">
                </div>
            </div>
        </div>
    </div>
    <div class="div_content_info" style="z-index: 998">
        <table>
            <tr>
                <td>
                    <div class="divLeft">
                        <span class="spanFWCZ">车牌号</span>
                    </div>
                </td>
                <td>
                    <div class="spanCPHOut" style="margin-left:15px;">
                        <div id="divCPHText" class="spanCPHIn SRK">
                            <span id="spanXZQJC" column="CX" class="spanXZQJC">闽</span>
                            <div class="divFWQKArrow"></div>
                        </div>
                        <div id="div_XZQJC" class="div_dropdown">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="spanCPHOut">
                        <div id="divCPHSZMText" class="spanCPHIn SRK">
                            <span id="spanCPHSZM" column="CX" class="spanXZQJC">A</span>
                            <div class="divFWQKArrow"></div>
                        </div>
                        <div id="div_CPHSZM" class="div_dropdown" style="height:212px;">
                        </div>
                    </div>
                </td>
                <td>
                    <input class="input_content" id="inputCPHHWW" maxlength="5" style="width: 119px;" type="text" value="" placeholder="车牌号后5位">
                </td>
                <td>
                    <span class="span_info" id="span_CPHInfo"></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="div_content_info">
        <table>
            <tr>
                <td>
                    <div class="divLeft">
                        <span class="spanFWCZ">车架号</span>
                    </div>
                </td>
                <td>
                    <div class="divRight">
                        <input class="input_content" id="inputCJH" maxlength="6" type="text" value="" placeholder="请输入车架号码后6位">
                    </div>
                </td>
                <td>
                    <span class="span_info" id="span_CJHInfo"></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="div_content_info">
        <table>
            <tr>
                <td>
                    <div class="divLeft">
                        <span class="spanFWCZ">发动机号</span>
                    </div>
                </td>
                <td>
                    <div class="divRight">
                        <input class="input_content" id="inputFDJH" maxlength="6" type="text" value="" placeholder="请输入发动机号码后6位">
                    </div>
                </td>
                <td>
                    <span class="span_info" id="span_FDJHInfo"></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="div_content_info">
        <input class="input_content_mfcx" id="input_content_mfcx" type="button" value="免费查询" />
    </div>
</body>
</html>
