@{
    Layout = "~/Areas/Business/Views/Shared/_Layout.cshtml";
}
@section Section_Head {
    <link href=@Url.Content("~/Areas/Business/Scripts/bootstrap-3.3.7/css/bootstrap.min.css") rel="stylesheet" />
    <link href=@Url.Content("~/Areas/Business/Css/Common/PageCommon.css") rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Business/Css/Common/Top.css" )" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Business/Css/Common/XZQ.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Business/Css/Common/Img.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Business/Css/Common/HTFB_Common.css")" rel="stylesheet" />
    <script src=@Url.Content("~/Areas/Business/Scripts/bootstrap-3.3.7/js/bootstrap.min.js")></script>
    <script src=@Url.Content("~/Areas/Business/Scripts/underscore.min.js")></script>
    <script src=@Url.Content("~/Areas/Business/Scripts/Business/Common/Common.js")></script>
    <script src="@Url.Content("~/Areas/Business/Scripts/Business/Common/XZQ.js")"></script>
    <script src=@Url.Content("~/Areas/Business/Scripts/Business/Common/Public_TP.js")></script>
    <script src=@Url.Content("~/Areas/Business/Scripts/Business/Common/Regular.js")></script>
    <script src=@Url.Content("~/Areas/Business/Scripts/Business/Common/Radio.js")></script>
    <script src=@Url.Content("~/Areas/Business/Scripts/Business/Common/Check.js")></script>
    <script src=@Url.Content("~/Areas/Business/Scripts/Business/Common/Validate.js")></script>
    <script src=@Url.Content("~/Areas/Business/Scripts/Business/Common/PageJson.js")></script>
    <script src=@Url.Content("~/Areas/Business/Scripts/UEditor/ueditor.config.js")></script>
    <script src=@Url.Content("~/Areas/Business/Scripts/UEditor/ueditor.all.js")></script>
    <script src=@Url.Content("~/Areas/Business/Scripts/UEditor/lang/zh-cn/zh-cn.js")></script>
    <script src="@Url.Content("~/Areas/Business/Scripts/UEditor/ueditor.js")"></script>
    <script src=@Url.Content("~/Areas/Business/Scripts/Business/Common/HTFB_Common.js")></script>

    @RenderSection("Section_Head", false)
}
@section Section_Body {
    @RenderSection("Section_Body", false)
    <div class="div_shadow" id="shadow"></div>
    <div id="editImgWindow">
        <div id="editImgHead">
            <span>编辑图片</span>
            <div id="btnClose"></div>
        </div>
        <div id="canvasFrame">
            <canvas id="canvas" width="1570" height="870" style="width:785px;height:435px;"></canvas>
        </div>
        <div id="toolBar">
            <div id="editToolBar">
                <div class="editToolButton" id="rotate">
                    <div class="editButtonIcon" style="background-image:url(@Url.Content("~/Areas/Business/Css/images/rotate.png"))"></div>
                    <span>旋转</span>
                </div>
                <div class="editToolButton" id="clip">
                    <div class="editButtonIcon" style="background-image:url(@Url.Content("~/Areas/Business/Css/images/clip.png"))"></div>
                    <span>裁剪</span>
                </div>
                <div class="editToolButton" id="mosaic">
                    <div class="editButtonIcon" style="background-image:url(@Url.Content("~/Areas/Business/Css/images/mosaic.png"))"></div>
                    <span>模糊</span>
                </div>
            </div>
        </div>
        <input type="button" id="btnSavePhoto" class="btn btn-info" style="height: 34px; width:69px; position:absolute;bottom:14px;right:77px;" value="保&nbsp;&nbsp;存" />
    </div>
}
@RenderBody()

