@{
    ViewBag.Title = "信息小镇_房产查询";
    Layout = "~/Areas/Business/Views/Shared/QTCXLB.cshtml";
}
@section Section_Head {
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/CXLB/FCCX.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/CXLB/FCCX/FCCX_ZZF.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/Common/XZQ.js")"></script>
}
@section Section_Body {
    <div id="divHead" class="div_head">
        <div class="div_head_left">
            <img class="img_head_left_logo" src="@Url.Content("~/Areas/Business/Css/images/logo_blue.png")" />
        </div>
        <div class="div_head_right">
            <div class="div_head_right_ss">
                <span id="spanXSLC" class="span_spaninput_out SRK">
                    <input class="span_spaninput_in" id="SS" type="text" placeholder="找房子,找工作,找服务," />
                    <span class="span_ss">搜索</span>
                </span>
                <span class="span_head_right_ss">租房子</span>
                <span class="span_head_right_ss">二手车</span>
                <span class="span_head_right_ss">兼职</span>
                <span class="span_head_right_ss">装修服务</span>
                <span class="span_head_right_ss">旅游度假</span>
                <span class="span_head_right_ss">居民搬家</span>
                <span class="span_head_right_ss">演出表演</span>
                <span class="span_head_right_ss">运动健身</span>
            </div>
            <span class="span_fbxx" id="span_fbxx">免费发布信息</span>
        </div>
    </div>
    <div id="divNav" class="div_nav">
        <ul class="ul_nav">
            <li class="li_nav_font">信息小镇</li>
            <li class="li_nav_split">></li>
            <li class="li_nav_font">@ViewData["XZQ"]房产信息</li>
            <li class="li_nav_split">></li>
            <li class="li_nav_font">@ViewData["XZQ"]整租房</li>
        </ul>
    </div>
<div id="divCondition" class="div_condition">
    <ul class="ul_condition_head">
        <li id="li_condition_head_qyzf" class="li_condition_head">区域找房</li>
        <li id="li_condition_head_dtzf" class="li_condition_head">地铁找房</li>
        <li id="li_condition_head_xqzf" class="li_condition_head">小区找房</li>
    </ul>
</div>
}