@{
    ViewBag.Title = "RZGL";
    Layout = "~/Areas/Business/Views/Shared/QT.cshtml";
}

<!DOCTYPE html>

<html>
<head>



    <link href="@Url.Content("~/Areas/Business/Css/RZGL/RZGL.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Business/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/HTFB/RZGL/RZGL.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/jquery-ui-1.12.1.custom/jquery.ui.datepicker-zh-CN.js")"></script>
</head>
<body>
<form action="" enctype="multipart/form-data" id="form_button_main_photo" method="post">
    <div class="div_photo">
        <div class="divstep" id="divGRLRZ">
            <span class="spanstep" id="spanGRLRZ">个人类认证</span>
            <em class="emstep" id="emGRLRZ"></em>
        </div>
        <div class="divstep" id="divQYLRZ">
            <span class="spanstep" id="spanQYLRZ">企业类认证</span>
            <em class="emstep" id="emQYLRZ"></em>
        </div>
        <div class="divstep" id="divQTRZ">
            <span class="spanstep" id="spanQTRZ">其他认证</span>
            <em class="emstep" id="emQTRZ"></em>
        </div>
        <div class="divstep">
            <span class="spanstep">&nbsp;</span>
            <em class="emstep" style="width: 510px;"></em>
        </div>
    </div>
    <div id="div_GRLRZ" style="display: block">
        <div class="div_content">
            <div class="div_content_info">
                <div class="div_content_info_left">
                    <span class="img_content_info" id="img_content_info_rlrz"></span>
                    <div class="div_content_info_left_info">
                        <span class="span_content_info_left">人脸认证</span>
                        <ul class="ul_content_info">
                            <li class="li_content_info">&nbsp;&nbsp;•&nbsp;&nbsp;请在明亮地方认证</li>
                            <li class="li_content_info">&nbsp;&nbsp;•&nbsp;&nbsp;简单便捷、实时通过</li>
                        </ul>
                    </div>
                </div>
                <div class="div_content_info_right">
                    <span class="span_content_info_right" id="span_content_info_right_rzsj">去认证</span>
                </div>
            </div>
        </div>
        <div class="div_content">
            <div class="div_content_info">
                <div class="div_content_info_left">
                    <span class="img_content_info" id="img_content_info_zmsmrz"></span>
                    <div class="div_content_info_left_info">
                        <span class="span_content_info_left">芝麻实名认证</span>
                        <ul class="ul_content_info">
                            <li class="li_content_info">&nbsp;&nbsp;•&nbsp;&nbsp;适合有支付宝的用户</li>
                            <li class="li_content_info">&nbsp;&nbsp;•&nbsp;&nbsp;无需拍照、实时通过</li>
                        </ul>
                    </div>
                </div>
                <div class="div_content_info_right">
                    <span class="span_content_info_right" id="span_content_info_right_zmsmrz">去认证</span>
                </div>
            </div>
        </div>
        <div class="div_content">
            <div class="div_content_info">
                <div class="div_content_info_left">
                    <span class="img_content_info" id="img_content_info_scsfzrz"></span>
                    <div class="div_content_info_left_info">
                        <span class="span_content_info_left">手持身份证认证</span>
                        <ul class="ul_content_info">
                            <li class="li_content_info">&nbsp;&nbsp;•&nbsp;&nbsp;需清晰的手持身份证照片</li>
                            <li class="li_content_info">&nbsp;&nbsp;•&nbsp;&nbsp;3-5个工作日完成认证</li>
                        </ul>
                    </div>
                </div>
                <div class="div_content_info_right">
                    <span class="span_content_info_right" id="span_content_info_right_scsfzrz">去认证</span>
                </div>
            </div>
        </div>
        <div class="div_content">
            <div class="div_content_info">
                <div class="div_content_info_left">
                    <span class="img_content_info" id="img_content_info_grsfrz"></span>
                    <div class="div_content_info_left_info">
                        <span class="span_content_info_left">个人身份认证</span>
                        <ul class="ul_content_info">
                            <li class="li_content_info">&nbsp;&nbsp;•&nbsp;&nbsp;被误判为商家、中介</li>
                            <li class="li_content_info">&nbsp;&nbsp;•&nbsp;&nbsp;可在此申请个人认证</li>
                        </ul>
                    </div>
                </div>
                <div class="div_content_info_right">
                    <span class="span_content_info_right" id="span_content_info_right_grsfrz">去认证</span>
                </div>
            </div>
        </div>
    </div>
    <div id="div_QYLRZ" style="display: none">
        <div class="div_content">
            <div class="div_content_info">
                <div class="div_content_info_left">
                    <span class="img_content_info" id="img_content_info_yyzzfrrz"></span>
                    <div class="div_content_info_left_info">
                        <span class="span_content_info_left">营业执照法人认证</span>
                        <ul class="ul_content_info">
                            <li class="li_content_info">&nbsp;&nbsp;•&nbsp;&nbsp;需要企业法人认证</li>
                            <li class="li_content_info">&nbsp;&nbsp;•&nbsp;&nbsp;实时通过</li>
                        </ul>
                    </div>
                </div>
                <div class="div_content_info_right">
                    <span class="span_content_info_right" id="span_content_info_right_yyzzfrrz">去认证</span>
                </div>
            </div>
        </div>
        <div class="div_content">
            <div class="div_content_info">
                <div class="div_content_info_left">
                    <span class="img_content_info" id="img_content_info_dgzhrz"></span>
                    <div class="div_content_info_left_info">
                        <span class="span_content_info_left">对公账号认证</span>
                        <ul class="ul_content_info">
                            <li class="li_content_info">&nbsp;&nbsp;•&nbsp;&nbsp;给对公账号打款认证</li>
                            <li class="li_content_info">&nbsp;&nbsp;•&nbsp;&nbsp;认证周期7个工作日</li>
                        </ul>
                    </div>
                </div>
                <div class="div_content_info_right">
                    <span class="span_content_info_right" id="span_content_info_right_dgzhrz">去认证</span>
                </div>
            </div>
        </div>
        <div class="div_content">
            <div class="div_content_info">
                <div class="div_content_info_left">
                    <span class="img_content_info" id="img_content_info_yyzzdsfrz"></span>
                    <div class="div_content_info_left_info">
                        <span class="span_content_info_left">营业执照第三方认证</span>
                        <ul class="ul_content_info">
                            <li class="li_content_info">&nbsp;&nbsp;•&nbsp;&nbsp;需上传清晰营业执照照片</li>
                            <li class="li_content_info">&nbsp;&nbsp;•&nbsp;&nbsp;实时通过</li>
                        </ul>
                    </div>
                </div>
                <div class="div_content_info_right">
                    <span class="span_content_info_right" id="span_content_info_right_yyzzdsfrz">去认证</span>
                </div>
            </div>
        </div>
        <div class="div_content">
            <div class="div_content_info">
                <div class="div_content_info_left">
                    <span class="img_content_info" id="img_content_info_yyzzptrz"></span>
                    <div class="div_content_info_left_info">
                        <span class="span_content_info_left">营业执照普通认证</span>
                        <ul class="ul_content_info">
                            <li class="li_content_info">&nbsp;&nbsp;•&nbsp;&nbsp;需上传清晰营业执照照片</li>
                            <li class="li_content_info">&nbsp;&nbsp;•&nbsp;&nbsp;3-5个工作日完成</li>
                        </ul>
                    </div>
                </div>
                <div class="div_content_info_right">
                    <span class="span_content_info_right" id="span_content_info_right_yyzzptrz">去认证</span>
                </div>
            </div>
        </div>
    </div>
    <div id="div_QTRZ" style="display: none">
        <div class="div_content">
            <div class="div_content_info">
                <div class="div_content_info_left">
                    <span class="img_content_info" id="img_content_info_qtrz"></span>
                    <div class="div_content_info_left_info">
                        <span class="span_content_info_left">其他认证</span>
                        <ul class="ul_content_info">
                            <li class="li_content_info">&nbsp;&nbsp;•&nbsp;&nbsp;包含各类企业许可证</li>
                            <li class="li_content_info">&nbsp;&nbsp;•&nbsp;&nbsp;认证时间较长</li>
                        </ul>
                    </div>
                </div>
                <div class="div_content_info_right">
                    <span class="span_content_info_right" id="span_content_info_right_qtrz">去认证</span>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>
