@{
    Layout = "~/Areas/Business/Views/Shared/HTFB.cshtml";
}
@section Section_Head {
    <link rel="stylesheet" href="@Url.Content("~/Areas/Business/Css/HTFB/FC/FC_HZF.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Areas/Business/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.css")" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/HTFB/FC/FC_HZF.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/HTFB/FC/FC_HZFYZ.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/jquery-ui-1.12.1.custom/jquery.ui.datepicker-zh-CN.js")"></script>
}
@section Section_Body {
    <div class="div_body">
        <div id="myTabContent" class="div_content">
            <div id="divJBXX" class="div_split" style="display: block; text-align: left">
                <span class="span_split">基本信息</span>
                <em class="em_split"></em>
            </div>
            <div id="divXQMC" class="div_row" style="z-index: 998">
                <div class="div_row_left">
                    <span class="span_required">*</span>
                    <span class="spanFWCZ">小区名称</span>
                </div>
                <div class="div_row_right">
                    <div class="div_select_out" style="z-index: 1000; width: 595px; border: none;">
                        <div id="divXQMCText" class="div_select_in SRK" style="border: none;">
                            <input id="XQMC" maxlength="30" column="XQMC" class="span_spaninput SRK" style="width: 594px; margin-top: 0px; padding: 4px 12px;" type="text" placeholder="请输入小区名称" />
                            <input id="XQDZ" column="XQDZ" type="hidden" />
                        </div>
                        <div id="divXQMClist" class="div_select_dropdown" style="width: 594px;">
                        </div>
                    </div>
                    <div id="divXQMCTip" class="Warn" style="z-index: 997;"></div>
                </div>
            </div>
            <div id="divFWLX" class="div_row" style="z-index: 996;">
                <div class="div_row_left">
                    <span class="span_required">*</span>
                    <span class="spanFWCZ">房屋类型</span>
                </div>
                <div class="div_row_right">
                    <span id="spanS" class="span_spaninput">
                        <input id="S" maxlength="2" column="S" class="input_spaninput spaninput_fontcolor" type="text" />
                        <span class="spaninput_fontcolor">室</span>
                    </span>
                    <span id="spanT" class="span_spaninput">
                        <input id="T" maxlength="2" column="T" class="input_spaninput spaninput_fontcolor" type="text" />
                        <span class="spaninput_fontcolor">厅</span>
                    </span>
                    <span id="spanW" class="span_spaninput">
                        <input id="W" maxlength="2" column="W" class="input_spaninput spaninput_fontcolor" type="text" />
                        <span class="spaninput_fontcolor">卫</span>
                    </span>
                    <span id="spanPFM" class="span_spaninput" style="width: 198px">
                        <span class="spaninput_fontcolor" style="margin-left: 8px">共</span>
                        <input id="PFM" maxlength="7" column="PFM" class="input_spaninput spaninput_fontcolor" type="text" style="width: 90px;" />
                        <span class="spaninput_fontcolor">平（㎡）</span>
                    </span>
                    <div id="divFWLXTip" class="Warn" style="z-index: 995;"></div>
                </div>
            </div>
            <div id="divFWQK" class="div_row" style="z-index: 994">
                <div class="div_row_left">
                    <span class="span_required">*</span>
                    <span class="spanFWCZ">房屋情况</span>
                </div>
                <div class="div_row_right">
                    <div id="divFWCXText" class="div_select_out">
                        <div id="divFWCXSpan" class="div_select_in SRK">
                            <span id="spanFWCX" column="CX" class="span_select spaninput_fontcolor">请选择朝向</span>
                            <div class="span_select_arrow"></div>
                        </div>
                        <div id="divFWCX" class="div_select_dropdown">
                        </div>
                    </div>
                    <div id="divZXQKText" class="div_select_out">
                        <div id="divZXQKSpan" class="div_select_in SRK">
                            <span id="spanZXQK" column="ZXQK" class="span_select spaninput_fontcolor">请选择装修情况</span>
                            <div class="span_select_arrow"></div>
                        </div>
                        <div id="divZXQK" class="div_select_dropdown">
                        </div>
                    </div>
                    <div id="divZZLXText" class="div_select_out">
                        <div id="divZZLXSpan" class="div_select_in SRK">
                            <span id="spanZZLX" column="ZZLX" class="span_select spaninput_fontcolor">请选择住宅类型</span>
                            <div class="span_select_arrow"></div>
                        </div>
                        <div id="divZZLX" class="div_select_dropdown">
                        </div>
                    </div>
                    <div id="divFWQKTip" class="Warn" style="z-index: 993;"></div>
                </div>
            </div>
            <div id="divLCFB" class="div_row" style="z-index: 992">
                <div class="div_row_left">
                    <span class="span_required">*</span>
                    <span class="spanFWCZ">楼层分布</span>
                </div>
                <div class="div_row_right">
                    <span id="spanC" class="span_spaninput SRK">
                        <span class="spaninput_fontcolor" style="margin-left: 8px">第</span>
                        <input id="C" maxlength="2" column="C" class="input_spaninput spaninput_fontcolor" type="text" style="width: 90px" />
                        <span class="spaninput_fontcolor">层</span>
                    </span>
                    <span id="spanGJC" class="span_spaninput SRK">
                        <span class="spaninput_fontcolor" style="margin-left: 8px">共</span>
                        <input id="GJC" maxlength="2" column="GJC" class="input_spaninput spaninput_fontcolor" type="text" style="width: 90px" />
                        <span class="spaninput_fontcolor">层</span>
                    </span>
                    <div id="divLCFBTip" class="Warn" style="z-index: 991;"></div>
                </div>
            </div>
            <div id="divCZJ" class="div_row" style="z-index: 990">
                <div class="div_row_left font-three">
                    <span class="span_required">*</span>
                    <span class="spanFWCZ">出租间</span>
                </div>
                <div class="div_row_right">
                    <span id="spanCZJMJ" class="span_spaninput SRK" style="display: inline-block;">
                        <input id="CZJMJ" maxlength="9" column="CZJMJ" class="input_spaninput spaninput_fontcolor" type="text" style="width: 80px" />
                        <span class="spaninput_fontcolor">平（㎡）</span>
                    </span>
                    <div id="divCZJLXText" class="div_select_out SRK" style="z-index: 989;">
                        <div id="divCZJLXSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                            <span id="spanCZJLX" column="CZJLX" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择卧室</span>
                            <div class="span_select_arrow"></div>
                        </div>
                        <div id="divCZJLX" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                        </div>
                    </div>
                    <div id="divCZJXBText" class="div_select_out SRK" style="z-index: 988;">
                        <div id="divCZJXBSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                            <span id="spanCZJXB" column="CZJXB" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择性别</span>
                            <div class="span_select_arrow"></div>
                        </div>
                        <div id="divCZJXB" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                        </div>
                    </div>
                    <div id="divCZJTip" class="Warn" style="z-index: 987;"></div>
                </div>
            </div>
            <div id="divZJ" class="div_row" style="z-index: 986">
                <div class="div_row_left">
                    <span class="span_required">*</span>
                    <span class="spanFWCZ">房屋租金</span>
                </div>
                <div class="div_row_right">
                    <span id="spanZJ" class="span_spaninput SRK" style="display: inline-block;">
                        <input id="ZJ" maxlength="9" column="ZJ" class="input_spaninput spaninput_fontcolor" type="text" style="width: 100px" />
                        <span class="spaninput_fontcolor">元/月</span>
                    </span>
                    <div id="divYFFSText" class="div_select_out SRK" style="z-index: 997;">
                        <div id="divYFFSSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                            <span id="spanYFFS" column="YFFS" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择押付方式</span>
                            <div class="span_select_arrow"></div>
                        </div>
                        <div id="divYFFS" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                        </div>
                    </div>
                    <div id="divZJTip" class="Warn" style="z-index: 985;"></div>
                </div>
            </div>
            <div id="divBHFY" class="div_row" style="z-index: 984; margin-top: -18px;">
                <div class="div_row_left">
                    <span class="span_required"></span>
                    <span id="spanBHFY">包含费用</span>
                </div>
                <div id="divBHFYText" class="div_row_right" style="position: relative">
                </div>
            </div>
            <div id="divFWPZ" class="div_row" style="z-index: 983">
                <div class="div_row_left">
                    <span class="span_required"></span>
                    <span id="spanFWCZ">房屋配置</span>
                </div>
                <div id="divFWPZText" class="div_row_right" style="position: relative">
                </div>
            </div>
            <div id="divFWLD" class="div_row" style="z-index: 982;">
                <div class="div_row_left">
                    <span class="span_required"></span>
                    <span id="spanFWLD">房屋亮点</span>
                </div>
                <div id="divFWLDText" class="div_row_right" style="position: relative">
                </div>
            </div>
            <div id="divCZYQ" class="div_row" style="z-index: 981;">
                <div class="div_row_left">
                    <span class="span_required"></span>
                    <span id="spanCZYQ">出租要求</span>
                </div>
                <div id="divCZYQText" class="div_row_right" style="position: relative">
                </div>
            </div>
            <div id="divXXXX" class="div_split" style="z-index: 980;">
                <span class="span_split">详细信息</span>
                <em class="em_split"></em>
            </div>
            <div id="divFYBT" class="div_row" style="margin-top: 22px;">
                <div class="div_row_left">
                    <span class="span_required">*</span>
                    <span id="spanFYBT">房源标题</span>
                </div>
                <div class="div_row_right">
                    <input id="BT" maxlength="50" column="BT" class="input_input SRK" type="text" placeholder="吸引人的标题可让更多的人看您的信息喔" />
                    <div id="divBTTip"></div>
                </div>
            </div>
            <div id="divBCMS" class="div_row" style="height: 253px; position: relative; z-index: 979;">
                <div class="div_row_left" style="height: 170px; vertical-align: top;">
                    <span class="span_required" style="vertical-align: top">*</span>
                    <span id="spanBCMS" style="vertical-align: top">房源描述</span>
                </div>
                <div class="div_row_right">
                    <script id="BCMS" type="text/plain" style="width: 594px; height: 200px; display: inline-block;">
                    </script>
                    <div id="divBCMSTip" class="Warn"></div>
                </div>
            </div>
            <div id="divFWZP" class="div_row_zp">
                <div class="div_row_left" style="height: 170px; vertical-align: top;">
                    <span class="span_required" style="vertical-align: top">*</span>
                    <span id="spanFWZP" style="vertical-align: top">上传照片</span>
                </div>
                <div class="div_row_right">
                    <div id="div_upload" class="div_upload">
                        <form action="" enctype="multipart/form-data" id="myform" method="post">
                            <input id="input_upload" unselectable="on" type="file" multiple="multiple" class="file" />
                        </form>
                    </div>
                    <div style="margin-left: 214px; font-size: 14px; color: #999999;">
                        <span>最多8张，可多选上传，最大10mb。有图可使浏览量增加3倍，并会在推荐位显示。</span>
                    </div>
                    <div id="divTPTip" style="margin-top: 10px; margin-left: 210px;"></div>
                </div>
            </div>
            <div id="divFWZPValue" class="div_row_zp" style="display: none; text-align: left;">
                <div class="div_row_left" style="height: 170px; vertical-align: top;">
                    <span class="span_required"></span>
                    <span id="spanFWZP" style="width: 56px; display: inline-block;"></span>
                </div>
                <div id="divImgs1" class="div_row_right" style="display: inline-block; width: 670px;">
                    <ul id="ulImgs1" class="ulImgs" style="padding-left: 0px;"></ul>
                </div>
                <div class="div_row_left" style="height: 170px; vertical-align: top;">
                    <span class="span_required"></span>
                    <span id="spanFWZP" style="width: 56px; display: inline-block;"></span>
                </div>
                <div id="divImgs2" class="div_row_right" style="display: inline-block; width: 670px;">
                    <ul id="ulImgs2" class="ulImgs" style="padding-left: 0px;"></ul>
                </div>
            </div>
            <div id="divLXRXX" class="div_split" style="display: block; text-align: left;">
                <span class="span_split">联系人信息</span>
                <em class="em_split"></em>
            </div>
            <div id="divLXR" class="div_row" style="z-index: 993">
                <div class="div_row_left font-three">
                    <span class="span_required">*</span>
                    <span id="spanLXDH">联系人</span>
                </div>
                <div class="div_row_right">
                    <input id="LXR" column="LXR" class="input_input SRK" type="text" placeholder="请输入联系人" />
                    <div id="divLXRTip"></div>
                </div>
            </div>
            <div id="divLXDH" class="div_row" style="z-index: 993">
                <div class="div_row_left">
                    <span class="span_required">*</span>
                    <span id="spanLXDH">联系电话</span>
                </div>
                <div class="div_row_right">
                    <input id="LXDH" maxlength="11" column="LXDH" class="input_input SRK" type="text" placeholder="请输入联系电话" />
                    <div id="divLXDHTip"></div>
                </div>
            </div>
            <div id="divQQ" class="div_row" style="margin-top: -12px;" style="z-index: 993">
                <div class="div_row_left font-two">
                    <span class="span_required"></span>
                    <span id="spanQQ">QQ</span>
                </div>
                <div class="div_row_right">
                    <input column="QQ" class="input_input SRK" type="text" placeholder="请输入QQ" />
                </div>
            </div>
            <div id="divKRZSJ" class="div_row" style="z-index: 994">
                <div class="div_row_left font-five">
                    <span class="span_required"></span>
                    <span id="spanKRZSJ">可入住时间</span>
                </div>
                <div class="div_row_right">
                    <input id="KRZSJ" readonly="readonly" class="span_spaninput input_input SRK" type="text" placeholder="请选择可入住时间" />
                </div>
            </div>
            <div id="divFB" class="div_split" style="display: block; text-align: center; margin-top: 40px;">
                <input type="button" class="btn btn-info input_text" style="height: 50px; font-size: 24px;" id="btnFB" value="发布" />
            </div>
        </div>
    </div>
}
