@{
    ViewBag.Title = "MMSZ";
    Layout = "~/Areas/Business/Views/Shared/QT.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link href="@Url.Content("~/Areas/Business/Css/GRZL/MMSZ.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Business/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/HTFB/GRZL/MMSZ.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/jquery-ui-1.12.1.custom/jquery.ui.datepicker-zh-CN.js")"></script>
</head>
<body>
    <div class="div_content">
        <div class="div_head">
            <span class="span_head">修改密码</span>
            <span class="span_head_wjmm" id="span_head_wjmm">忘记旧密码?</span>
        </div>
        <div class="div_body">
            <table class="table_div_body">
                <tr class="tr_div_body">
                    <td class="td_div_body">
                        <span style="display: inline-block; height: 30px;">用户名：</span>
                        <input type="text" id="inputYHM" class="input_content_label">
                    </td>
                    <td class="Info" id="YHMInfo"></td>
                </tr>
                <tr class="tr_div_body">
                    <td class="td_div_body">
                        <span class="span_required">*</span>
                        <span style="display: inline-block; height: 30px;">旧密码：</span>
                        <input class="input_content" type="password" id="inputJMM" maxlength="20" placeholder="请输入旧密码">
                    </td>
                    <td class="Info" id="JMMInfo"></td>
                </tr>
                <tr class="tr_div_body">
                    <td class="td_div_body">
                        <span class="span_required">*</span>
                        <span style="display: inline-block; height: 30px;">新密码：</span>
                        <input class="input_content" type="password" id="inputXMM" maxlength="20" placeholder="请输入新密码">
                    </td>
                    <td class="Info" id="XMMInfo"></td>
                </tr>
                <tr class="tr_div_body">
                    <td class="td_div_body">
                        <span class="span_required">*</span>
                        <span style="display: inline-block; height: 30px;">确认密码：</span>
                        <input class="input_content" type="password" id="inputQRMM" maxlength="20" placeholder="请输入确认密码">
                    </td>
                    <td class="Info" id="QRMMInfo"></td>
                </tr>
            </table>
        </div>
        <div class="div_bottom">
            <input class="input_bottom" id="input_bottom_wcxg" type="button" value="完成修改"/>
        </div>
    </div>
</body>
</html>
